openapi: 3.0.3
info:
  title: RingCentral Adaptive Cards Meeting Recordings API
  description: RingCentral API specification
  version: 1.0.58-20240529-47eda8bd
  contact:
    name: RingCentral Developers Support
    url: https://developers.ringcentral.com/support
  termsOfService: https://www.ringcentral.com/legal/apilitos.html
  license:
    name: RingCentral API License Agreement
    url: https://www.ringcentral.com/legal/apilitos.html
servers:
- url: https://platform.ringcentral.com
  description: Production API entry point
- url: https://media.ringcentral.com
  description: Production Media entry point
- url: https://platform.devtest.ringcentral.com
  description: Developer sandbox API entry point
- url: https://platform.devtest.ringcentral.com
  description: Developer sandbox Media entry point
security:
- OAuth2: []
tags:
- name: Meeting Recordings
paths:
  /rcvideo/v1/account/{accountId}/recordings:
    get:
      tags:
      - Meeting Recordings
      summary: List Account Recordings
      description: 'Returns all account recordings.

        This endpoint is used in Admin recording service, not regular web

        '
      operationId: getAccountRecordings
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/RcvPageToken'
      - $ref: '#/components/parameters/RcvPerPage'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRecordings'
        '403':
          $ref: '#/components/responses/RcvAccessForbidden'
        '404':
          $ref: '#/components/responses/RcvNotFound'
        '500':
          $ref: '#/components/responses/RcvInternalError'
      x-throttling-group: Light
      x-app-permission: Video
  /rcvideo/v1/account/{accountId}/extension/{extensionId}/recordings:
    get:
      tags:
      - Meeting Recordings
      summary: List User Recordings
      description: 'Returns all recordings available for specific extension.

        This endpoint is used in admin recording service, not regular web

        '
      operationId: getExtensionRecordings
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ExtensionId'
      - $ref: '#/components/parameters/RcvPageToken'
      - $ref: '#/components/parameters/RcvPerPage'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRecordings'
        '403':
          $ref: '#/components/responses/RcvAccessForbidden'
        '404':
          $ref: '#/components/responses/RcvNotFound'
        '500':
          $ref: '#/components/responses/RcvInternalError'
      x-throttling-group: Light
      x-app-permission: Video
components:
  responses:
    RcvNotFound:
      description: Resource not found
    RcvInternalError:
      description: Error processing data
    RcvAccessForbidden:
      description: Access forbidden
  schemas:
    CloudRecordings:
      required:
      - paging
      - recordings
      type: object
      properties:
        recordings:
          type: array
          description: Recordings array
          items:
            $ref: '#/components/schemas/CloudRecording'
        paging:
          $ref: '#/components/schemas/Paging'
      description: Recordings page
    CloudRecording:
      required:
      - displayName
      - hostInfo
      - id
      - shortId
      - startTime
      - mediaLink
      - url
      type: object
      properties:
        id:
          type: string
          description: Call id
        shortId:
          type: string
          description: Short bridge id
        startTime:
          type: string
          description: Start time ISO 8601
          format: date-time
        duration:
          type: integer
          description: Meeting duration in seconds
          format: int32
          example: 36
        displayName:
          type: string
          description: Meeting name
        hostInfo:
          $ref: '#/components/schemas/Host'
        mediaLink:
          type: string
          description: Link to the recording file. Not used anymore by Web team
        url:
          type: string
          description: Encrypted link to the recording file
        expiresIn:
          type: string
          description: Date after which recording will be deleted
      description: Recording information
    Host:
      type: object
      properties:
        accountId:
          type: string
          description: Account id
        extensionId:
          type: string
          description: Extension id
        displayName:
          type: string
          description: Display name
      description: Meeting host
    Paging:
      required:
      - currentPageToken
      type: object
      properties:
        currentPageToken:
          type: string
          description: Current offset token
        nextPageToken:
          type: string
          description: Next page offset token
      description: Paging information
  parameters:
    RcvPerPage:
      name: perPage
      in: query
      description: Number of records returned
      schema:
        type: integer
        format: int32
    ExtensionId:
      name: extensionId
      in: path
      description: 'Internal identifier of the RingCentral extension/user

        (can be set to "~" to indicate that the extension associated with current authorization session should be used)

        '
      required: true
      style: simple
      explode: false
      schema:
        type: string
        default: '~'
      example: '~'
    RcvPageToken:
      name: pageToken
      in: query
      description: Token to get the next page
      schema:
        type: string
    AccountId:
      name: accountId
      in: path
      description: 'Internal identifier of the RingCentral account

        (can be set to "~" to indicate that the account associated with current authorization session should be used)

        '
      required: true
      style: simple
      explode: false
      schema:
        type: string
        default: '~'
      example: '~'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.ringcentral.com/restapi/oauth/authorize
          tokenUrl: https://platform.ringcentral.com/restapi/oauth/token
          refreshUrl: https://platform.ringcentral.com/restapi/oauth/token
          scopes: {}
x-tagGroups:
- name: Voice
  popular: true
  tags:
  - Business Hours
  - Call Blocking
  - Call Control
  - Call Forwarding
  - Call Handling Rules
  - Interaction Rules
  - State-based Rules
  - Call Flip
  - Call Log
  - Call History
  - Call Log Export
  - Call Monitoring Groups
  - Call Queues
  - Call Recordings
  - Call Recording Settings
  - Device SIP Registration
  - Greetings
  - IVR
  - RingOut
  - Verification Calls
- name: SMS and Fax
  popular: true
  tags:
  - Fax
  - Message Exports
  - Message Store
  - Pager Messages
  - SMS
  - High Volume SMS
  - SMS Log Export
  - SMS Templates
  - Voicemail Broadcasting
- name: Social Messaging
  popular: true
  tags:
  - Identities
  - Contents
- name: Team Messaging
  popular: true
  tags:
  - Adaptive Cards
  - Bots
  - Calendar Events
  - Chats
  - Conversations
  - Compliance Exports
  - Contacts
  - Incoming Webhooks
  - Notes
  - Posts
  - Profile
  - Tasks
  - Teams
- name: Video
  popular: true
  tags:
  - Bridge Management
  - Delegation Management
  - Meetings History
  - Meeting Recordings
  - RCM Meetings (Legacy)
  - RCM Webinars (Legacy)
- name: Webinar
  popular: true
  tags:
  - Webinars and Sessions
  - Invitees
  - Historical Webinars
  - Historical Recordings
  - Registration Management
  - Registrants
  - Webinar Analytics
  - Webinar Subscriptions
- name: Analytics
  popular: true
  tags:
  - Business Analytics
- name: Artificial Intelligence
  popular: true
  tags:
  - Insights
  - Audio
  - Text
  - Status
- name: Authentication
  tags:
  - OAuth 2.0 / OpenID Connect
  - Interoperability
- name: Account
  tags:
  - Company
  - Custom Fields
  - Features
  - Licenses
  - Tax Locations
  - Cost Centers
  - Multi-Site
  - Phone Numbers
  - Presence
  - Regional Settings
  - User Permissions
  - User Settings
  - Audit Trail
  - Calling Rates
  - Appearance Customization
  - Account Integrations
- name: Provisioning
  tags:
  - Automatic Location Updates
  - Devices
  - Extensions
  - Paging Only Groups
  - Park Locations
  - Phone Lines
  - SCIM
  - Shared Lines
  - Group Call Pickup
  - Delegated Lines Groups
  - Directed Call Pickup
  - IVR Apps
  - Video Configuration
  - Number Porting
  - SMB
  - Account Federation
  - Integrations
  - Enterprise Portal API
  - Push to Talk Provisioning
  - BYOC
- name: Address Book
  tags:
  - External Contacts
  - Internal Contacts
  - Hybrid Directory Contacts
  - Overlay Contacts
  - External Shared Directory
- name: Roles and Permissions
  tags:
  - Permissions
  - Role Management
  - Site Administration
  - User Groups
- name: Events & Notifications
  tags:
  - Subscriptions
- name: User Integrations
  tags:
  - Token Management
  - Calendar Management
  - Calendar Event Management
  - Calendar Presence Link
  - Cloud Personal Contacts
  - Cloud Shared Contacts
  - Cloud Directory
  - Deprecated Calendar API
- name: Rooms
  tags:
  - Rooms Client API
  - Rooms Management API
- name: App Management
  tags:
  - App Gallery
  - App Rating Review
  - Bot Provisioning
- name: Workflow Builder
  tags:
  - Flows
  - Flow Editor
  - Flow Log
  - Flow Templates
- name: Utilities
  tags:
  - API Info
  - Application Settings
  - Async Tasks
  - User Notifications
  - Client Versions
  - End-to-End Encryption
