openapi: 3.0.3
info:
  title: RingCentral Adaptive Cards Call Recording Settings API
  description: RingCentral API specification
  version: 1.0.58-20240529-47eda8bd
  contact:
    name: RingCentral Developers Support
    url: https://developers.ringcentral.com/support
  termsOfService: https://www.ringcentral.com/legal/apilitos.html
  license:
    name: RingCentral API License Agreement
    url: https://www.ringcentral.com/legal/apilitos.html
servers:
- url: https://platform.ringcentral.com
  description: Production API entry point
- url: https://media.ringcentral.com
  description: Production Media entry point
- url: https://platform.devtest.ringcentral.com
  description: Developer sandbox API entry point
- url: https://platform.devtest.ringcentral.com
  description: Developer sandbox Media entry point
security:
- OAuth2: []
tags:
- name: Call Recording Settings
paths:
  /restapi/v1.0/account/{accountId}/call-recording:
    get:
      tags:
      - Call Recording Settings
      summary: Get Call Recording Settings
      description: Returns call recording settings.
      operationId: readCallRecordingSettings
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRecordingSettingsResource'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-feature: ReadCompanyInfo
      x-availability: High
      x-throttling-group: Light
      x-app-permission: ReadAccounts
      x-user-permission: ReadCompanyInfo
    put:
      tags:
      - Call Recording Settings
      summary: Update Call Recording Settings
      description: Updates current call recording settings.
      operationId: updateCallRecordingSettings
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallRecordingSettingsResource'
        required: false
      responses:
        '200':
          description: 'OK: Updated Call Recording Settings'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRecordingSettingsResource'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-feature: EditCompanyInfo
      x-availability: Limited
      x-throttling-group: Medium
      x-app-permission: EditAccounts
      x-user-permission: EditCompanyInfo
  /restapi/v1.0/account/{accountId}/call-recording/custom-greetings:
    get:
      tags:
      - Call Recording Settings
      summary: Get Call Recording Custom Greeting List
      description: Returns call recording custom greetings.
      operationId: listCallRecordingCustomGreetings
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: type
        in: query
        schema:
          type: string
          enum:
          - StartRecording
          - StopRecording
          - AutomaticRecording
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRecordingCustomGreetings'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-feature: ReadCompanyInfo
      x-availability: High
      x-throttling-group: Medium
      x-app-permission: ReadAccounts
      x-user-permission: ReadCompanyInfo
    delete:
      tags:
      - Call Recording Settings
      summary: Delete Call Recording Custom Greeting List
      description: Deletes call recording custom greetings.
      operationId: deleteCallRecordingCustomGreetingList
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-feature: EditCompanyInfo
      x-availability: Limited
      x-throttling-group: Medium
      x-app-permission: EditAccounts
      x-user-permission: EditCompanyInfo
  /restapi/v1.0/account/{accountId}/call-recording/custom-greetings/{greetingId}:
    delete:
      tags:
      - Call Recording Settings
      summary: Delete Call Recording Custom Greeting
      description: Deletes call recording custom greeting(s).
      operationId: deleteCallRecordingCustomGreeting
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/GreetingId'
      responses:
        '200':
          description: Success
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-feature: EditCompanyInfo
      x-availability: Limited
      x-throttling-group: Medium
      x-app-permission: EditAccounts
      x-user-permission: EditCompanyInfo
  /restapi/v1.0/account/{accountId}/call-recording/bulk-assign:
    post:
      tags:
      - Call Recording Settings
      summary: Update Call Recording Extension List
      description: Creates or updates the list of extensions to be recorded.
      operationId: updateCallRecordingExtensionList
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAccountCallRecordingsResource'
        required: true
      responses:
        '204':
          description: Successful response
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-feature: ReadCompanyInfo
      x-availability: Limited
      x-throttling-group: Medium
      x-app-permission: ReadAccounts
      x-user-permission: ReadCompanyInfo
  /restapi/v1.0/account/{accountId}/call-recording/extensions:
    get:
      tags:
      - Call Recording Settings
      summary: Get Call Recording Extension List
      description: Returns the list of extensions to be recorded.
      operationId: listCallRecordingExtensions
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Extension List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallRecordingExtensions'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-feature: ReadCompanyInfo
      x-availability: High
      x-throttling-group: Medium
      x-app-permission: ReadAccounts
      x-user-permission: ReadCompanyInfo
components:
  schemas:
    GreetingResource:
      type: object
      properties:
        type:
          type: string
          enum:
          - StartRecording
          - StopRecording
          - AutomaticRecording
        mode:
          type: string
          description: 'Here `Default` indicates that all greetings of that type

            (in all languages) are default. If at least one greeting (in any language)

            of the specified type is custom, then `Custom` is returned.

            '
          enum:
          - Default
          - Custom
    ApiErrorWithParameter:
      description: 'The error model with additional attributes which can be used for HTTP 400/409

        This is a deprecated model: "ApiError" model can be used instead with arbitrary additional parameters

        '
      allOf:
      - $ref: '#/components/schemas/ApiError'
      - type: object
        properties:
          parameterName:
            type: string
            description: The name of the API parameter/attribute which caused the error
          parameterValue:
            type: string
            description: The value of the API parameter/attribute which caused the error
    CallRecordingExtensions:
      type: object
      properties:
        uri:
          type: string
          format: uri
          description: Link to call recording extension list resource
        records:
          type: array
          items:
            $ref: '#/components/schemas/CallRecordingExtensionInfo'
        navigation:
          $ref: '#/components/schemas/PageNavigationModel'
        paging:
          $ref: '#/components/schemas/EnumeratedPagingModel'
    ApiError:
      type: object
      description: Generalized API error structure suitable for any error type
      required:
      - errorCode
      - message
      properties:
        errorCode:
          type: string
          description: Logical error code (typically, 3 letters followed with number, dash separated)
          example: XXX-123
        message:
          type: string
          description: User-friendly error message
          example: Something went wrong
      additionalProperties: true
    AutomaticRecordingResource:
      type: object
      properties:
        enabled:
          type: boolean
          description: Flag for controlling Automatic Call Recording settings
        outboundCallTones:
          type: boolean
          description: Flag for controlling 'Play Call Recording Announcement for Outbound Calls' settings
        outboundCallAnnouncement:
          type: boolean
          description: Flag for controlling 'Play periodic tones for outbound calls' settings
        allowMute:
          type: boolean
          description: Flag for controlling 'Allow mute in auto call recording' settings
        extensionCount:
          type: integer
          format: int32
          description: Total amount of extension that are used in call recordings
        retentionPeriod:
          type: integer
          format: int32
          description: Retention period of a call recording, the default value is 90 days
        maxNumberLimit:
          type: integer
          format: int32
          description: Maximum number of automatic call recordings per account, the default value is 100 000
    OnDemandResource:
      type: object
      properties:
        enabled:
          type: boolean
          description: Flag for controlling OnDemand Call Recording settings
        retentionPeriod:
          type: integer
          format: int32
          description: Retention period of a call recording, the default value is 90 days
    EnumeratedPagingModel:
      type: object
      required:
      - perPage
      additionalProperties: false
      properties:
        perPage:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          description: 'Current page size, describes how many items are in each page.

            Matches "perPage" parameter from the request.

            '
          example: 50
        page:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          description: 'The current page number. 1-indexed, so the first page is 1

            by default. May be omitted if result is empty (because non-existent page

            was specified or perPage=0 was requested)

            '
          example: 5
        pageStart:
          type: integer
          format: int32
          minimum: 0
          description: 'The zero-based number of the first element on the current page.

            Omitted if the page is omitted or result is empty

            '
          example: 0
        pageEnd:
          type: integer
          format: int32
          minimum: 0
          description: 'The zero-based index of the last element on the current page.

            Omitted if the page is omitted or result is empty

            '
          example: 5
        totalPages:
          type: integer
          format: int32
          minimum: 0
          description: 'The total number of pages in a dataset. May be omitted for

            some resources due to performance reasons

            '
          example: 25
        totalElements:
          type: integer
          format: int32
          minimum: 0
          description: 'The total number of elements in a dataset. May be omitted for

            some resource due to performance reasons

            '
          example: 25
    ApiErrorResponseModel:
      type: object
      description: Standard error response model which is returned in case of any unsuccessful operation
      required:
      - errors
      properties:
        errors:
          type: array
          description: The array of errors (there will be just one in the most of the cases)
          minItems: 1
          items:
            $ref: '#/components/schemas/ApiError'
    PageNavigationUri:
      type: object
      additionalProperties: false
      properties:
        uri:
          type: string
          description: Canonical URI to retrieve the particular page of the result set
          format: uri
    BulkAccountCallRecordingsResource:
      type: object
      properties:
        addedExtensions:
          type: array
          items:
            $ref: '#/components/schemas/CallRecordingExtensionResource'
        updatedExtensions:
          type: array
          items:
            $ref: '#/components/schemas/CallRecordingExtensionResource'
        removedExtensions:
          type: array
          items:
            $ref: '#/components/schemas/CallRecordingExtensionResource'
    CallRecordingCustomGreetings:
      type: object
      description: Returns data on call recording custom greetings.
      properties:
        records:
          type: array
          items:
            $ref: '#/components/schemas/CallRecordingCustomGreeting'
    PageNavigationModel:
      type: object
      description: Links to other pages of the current result set
      additionalProperties: false
      properties:
        firstPage:
          $ref: '#/components/schemas/PageNavigationUri'
        nextPage:
          $ref: '#/components/schemas/PageNavigationUri'
        previousPage:
          $ref: '#/components/schemas/PageNavigationUri'
        lastPage:
          $ref: '#/components/schemas/PageNavigationUri'
    CallRecordingCustomGreetingData:
      type: object
      properties:
        uri:
          type: string
          format: uri
          description: Link to a custom company greeting
        id:
          type: string
          description: Internal identifier of a custom company greeting
      description: Custom greeting data
    CallRecordingSettingsResource:
      type: object
      properties:
        onDemand:
          $ref: '#/components/schemas/OnDemandResource'
        automatic:
          $ref: '#/components/schemas/AutomaticRecordingResource'
        greetings:
          type: array
          description: Collection of Greeting Info
          items:
            $ref: '#/components/schemas/GreetingResource'
    ParameterizedErrorResponseModel:
      type: object
      description: Standard error response which may include parameterized errors
      required:
      - errors
      properties:
        errors:
          type: array
          description: The array of errors (there will be just one in the most of the cases)
          minItems: 1
          items:
            $ref: '#/components/schemas/ApiErrorWithParameter'
    CallRecordingCustomGreetingLanguage:
      type: object
      description: Custom greeting language
      properties:
        uri:
          type: string
          format: uri
          description: Link to a language
        id:
          type: string
          description: Internal identifier of a language
        name:
          type: string
          description: Language name
        localeCode:
          type: string
          description: Language locale code
    CallRecordingExtensionResource:
      type: object
      properties:
        id:
          type: string
          description: Internal identifier of an extension
        uri:
          type: string
          format: uri
        extensionNumber:
          type: string
        type:
          type: string
        callDirection:
          type: string
          description: Direction of call
          enum:
          - Outbound
          - Inbound
          - All
    CallRecordingCustomGreeting:
      type: object
      properties:
        type:
          type: string
          enum:
          - StartRecording
          - StopRecording
          - AutomaticRecording
        custom:
          $ref: '#/components/schemas/CallRecordingCustomGreetingData'
        language:
          $ref: '#/components/schemas/CallRecordingCustomGreetingLanguage'
    CallRecordingExtensionInfo:
      type: object
      properties:
        id:
          type: string
          description: Internal identifier of an extension
        uri:
          type: string
          format: uri
          description: Link to an extension resource
        extensionNumber:
          type: string
          description: Number of an extension
        name:
          type: string
          description: Name of an extension
  responses:
    NotFound:
      description: 'General response with **HTTP 404 "Not found"** status.<br>

        Reasons: the entity with given ID (typically specified in a path parameter), is not found or inaccessible

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorResponseModel'
    ServiceNotAvailable:
      description: 'General response with **HTTP 503 "Service not available"** status.<br>

        Reasons: server cannot process the request because of being overloaded, misconfiguration or other issues.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorResponseModel'
    InternalError:
      description: 'General response with **HTTP 500 "Internal Server Error"** status.<br>

        Reasons: general server-side error.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorResponseModel'
    InvalidRequest:
      description: 'General response with **HTTP 400 "Bad request"** status.<br>

        Reasons: unparsable request, path, query or body parameters are invalid.

        The error description may contain reference to particular parameter(s) which haven''t passed the validation.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ParameterizedErrorResponseModel'
  parameters:
    AccountId:
      name: accountId
      in: path
      description: 'Internal identifier of the RingCentral account

        (can be set to "~" to indicate that the account associated with current authorization session should be used)

        '
      required: true
      style: simple
      explode: false
      schema:
        type: string
        default: '~'
      example: '~'
    GreetingId:
      name: greetingId
      in: path
      description: Internal identifier of a greeting
      required: true
      schema:
        type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.ringcentral.com/restapi/oauth/authorize
          tokenUrl: https://platform.ringcentral.com/restapi/oauth/token
          refreshUrl: https://platform.ringcentral.com/restapi/oauth/token
          scopes: {}
x-tagGroups:
- name: Voice
  popular: true
  tags:
  - Business Hours
  - Call Blocking
  - Call Control
  - Call Forwarding
  - Call Handling Rules
  - Interaction Rules
  - State-based Rules
  - Call Flip
  - Call Log
  - Call History
  - Call Log Export
  - Call Monitoring Groups
  - Call Queues
  - Call Recordings
  - Call Recording Settings
  - Device SIP Registration
  - Greetings
  - IVR
  - RingOut
  - Verification Calls
- name: SMS and Fax
  popular: true
  tags:
  - Fax
  - Message Exports
  - Message Store
  - Pager Messages
  - SMS
  - High Volume SMS
  - SMS Log Export
  - SMS Templates
  - Voicemail Broadcasting
- name: Social Messaging
  popular: true
  tags:
  - Identities
  - Contents
- name: Team Messaging
  popular: true
  tags:
  - Adaptive Cards
  - Bots
  - Calendar Events
  - Chats
  - Conversations
  - Compliance Exports
  - Contacts
  - Incoming Webhooks
  - Notes
  - Posts
  - Profile
  - Tasks
  - Teams
- name: Video
  popular: true
  tags:
  - Bridge Management
  - Delegation Management
  - Meetings History
  - Meeting Recordings
  - RCM Meetings (Legacy)
  - RCM Webinars (Legacy)
- name: Webinar
  popular: true
  tags:
  - Webinars and Sessions
  - Invitees
  - Historical Webinars
  - Historical Recordings
  - Registration Management
  - Registrants
  - Webinar Analytics
  - Webinar Subscriptions
- name: Analytics
  popular: true
  tags:
  - Business Analytics
- name: Artificial Intelligence
  popular: true
  tags:
  - Insights
  - Audio
  - Text
  - Status
- name: Authentication
  tags:
  - OAuth 2.0 / OpenID Connect
  - Interoperability
- name: Account
  tags:
  - Company
  - Custom Fields
  - Features
  - Licenses
  - Tax Locations
  - Cost Centers
  - Multi-Site
  - Phone Numbers
  - Presence
  - Regional Settings
  - User Permissions
  - User Settings
  - Audit Trail
  - Calling Rates
  - Appearance Customization
  - Account Integrations
- name: Provisioning
  tags:
  - Automatic Location Updates
  - Devices
  - Extensions
  - Paging Only Groups
  - Park Locations
  - Phone Lines
  - SCIM
  - Shared Lines
  - Group Call Pickup
  - Delegated Lines Groups
  - Directed Call Pickup
  - IVR Apps
  - Video Configuration
  - Number Porting
  - SMB
  - Account Federation
  - Integrations
  - Enterprise Portal API
  - Push to Talk Provisioning
  - BYOC
- name: Address Book
  tags:
  - External Contacts
  - Internal Contacts
  - Hybrid Directory Contacts
  - Overlay Contacts
  - External Shared Directory
- name: Roles and Permissions
  tags:
  - Permissions
  - Role Management
  - Site Administration
  - User Groups
- name: Events & Notifications
  tags:
  - Subscriptions
- name: User Integrations
  tags:
  - Token Management
  - Calendar Management
  - Calendar Event Management
  - Calendar Presence Link
  - Cloud Personal Contacts
  - Cloud Shared Contacts
  - Cloud Directory
  - Deprecated Calendar API
- name: Rooms
  tags:
  - Rooms Client API
  - Rooms Management API
- name: App Management
  tags:
  - App Gallery
  - App Rating Review
  - Bot Provisioning
- name: Workflow Builder
  tags:
  - Flows
  - Flow Editor
  - Flow Log
  - Flow Templates
- name: Utilities
  tags:
  - API Info
  - Application Settings
  - Async Tasks
  - User Notifications
  - Client Versions
  - End-to-End Encryption
