openapi: 3.0.3
info:
  title: RingCentral Adaptive Cards Custom Fields API
  description: RingCentral API specification
  version: 1.0.58-20240529-47eda8bd
  contact:
    name: RingCentral Developers Support
    url: https://developers.ringcentral.com/support
  termsOfService: https://www.ringcentral.com/legal/apilitos.html
  license:
    name: RingCentral API License Agreement
    url: https://www.ringcentral.com/legal/apilitos.html
servers:
- url: https://platform.ringcentral.com
  description: Production API entry point
- url: https://media.ringcentral.com
  description: Production Media entry point
- url: https://platform.devtest.ringcentral.com
  description: Developer sandbox API entry point
- url: https://platform.devtest.ringcentral.com
  description: Developer sandbox Media entry point
security:
- OAuth2: []
tags:
- name: Custom Fields
paths:
  /restapi/v1.0/account/{accountId}/custom-fields:
    get:
      tags:
      - Custom Fields
      summary: Get Custom Field List
      description: Returns the list of created custom fields.
      operationId: listCustomFields
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldList'
      x-feature: EditUsers
      x-throttling-group: Light
      x-availability: High
      x-app-permission: ReadAccounts
      x-user-permission: ReadUserInfo
    post:
      tags:
      - Custom Fields
      summary: Create Custom Field
      description: Creates custom field attached to the object.
      operationId: createCustomField
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldCreateRequest'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldModel'
      x-feature: EditUsers
      x-throttling-group: Medium
      x-availability: High
      x-app-permission: EditAccounts
      x-user-permission: Users
  /restapi/v1.0/account/{accountId}/custom-fields/{fieldId}:
    put:
      tags:
      - Custom Fields
      summary: Update Custom Field
      description: Updates custom field by ID specified in path.
      operationId: updateCustomField
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/FieldId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomFieldUpdateRequest'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomFieldModel'
      x-feature: EditUsers
      x-throttling-group: Medium
      x-availability: High
      x-app-permission: EditAccounts
      x-user-permission: Users
    delete:
      tags:
      - Custom Fields
      summary: Delete Custom Field
      description: Deletes custom field(s) by ID(s) with the corresponding values.
      operationId: deleteCustomField
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/FieldId'
      responses:
        '204':
          description: Successful response
      x-feature: EditUsers
      x-throttling-group: Medium
      x-availability: High
      x-app-permission: EditAccounts
      x-user-permission: Users
components:
  schemas:
    CustomFieldList:
      type: object
      properties:
        records:
          type: array
          items:
            $ref: '#/components/schemas/CustomFieldModel'
    CustomFieldUpdateRequest:
      type: object
      properties:
        displayName:
          type: string
          description: Custom field display name
    CustomFieldCreateRequest:
      type: object
      properties:
        category:
          type: string
          description: Object category to attach custom fields
          enum:
          - User
        displayName:
          type: string
          description: Custom field display name
    CustomFieldModel:
      type: object
      properties:
        id:
          type: string
          description: Custom field identifier
        category:
          type: string
          description: Object category to attach custom fields
          enum:
          - User
        displayName:
          type: string
          description: Custom field display name
  parameters:
    FieldId:
      name: fieldId
      in: path
      description: Custom field identifier
      required: true
      schema:
        type: string
    AccountId:
      name: accountId
      in: path
      description: 'Internal identifier of the RingCentral account

        (can be set to "~" to indicate that the account associated with current authorization session should be used)

        '
      required: true
      style: simple
      explode: false
      schema:
        type: string
        default: '~'
      example: '~'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.ringcentral.com/restapi/oauth/authorize
          tokenUrl: https://platform.ringcentral.com/restapi/oauth/token
          refreshUrl: https://platform.ringcentral.com/restapi/oauth/token
          scopes: {}
x-tagGroups:
- name: Voice
  popular: true
  tags:
  - Business Hours
  - Call Blocking
  - Call Control
  - Call Forwarding
  - Call Handling Rules
  - Interaction Rules
  - State-based Rules
  - Call Flip
  - Call Log
  - Call History
  - Call Log Export
  - Call Monitoring Groups
  - Call Queues
  - Call Recordings
  - Call Recording Settings
  - Device SIP Registration
  - Greetings
  - IVR
  - RingOut
  - Verification Calls
- name: SMS and Fax
  popular: true
  tags:
  - Fax
  - Message Exports
  - Message Store
  - Pager Messages
  - SMS
  - High Volume SMS
  - SMS Log Export
  - SMS Templates
  - Voicemail Broadcasting
- name: Social Messaging
  popular: true
  tags:
  - Identities
  - Contents
- name: Team Messaging
  popular: true
  tags:
  - Adaptive Cards
  - Bots
  - Calendar Events
  - Chats
  - Conversations
  - Compliance Exports
  - Contacts
  - Incoming Webhooks
  - Notes
  - Posts
  - Profile
  - Tasks
  - Teams
- name: Video
  popular: true
  tags:
  - Bridge Management
  - Delegation Management
  - Meetings History
  - Meeting Recordings
  - RCM Meetings (Legacy)
  - RCM Webinars (Legacy)
- name: Webinar
  popular: true
  tags:
  - Webinars and Sessions
  - Invitees
  - Historical Webinars
  - Historical Recordings
  - Registration Management
  - Registrants
  - Webinar Analytics
  - Webinar Subscriptions
- name: Analytics
  popular: true
  tags:
  - Business Analytics
- name: Artificial Intelligence
  popular: true
  tags:
  - Insights
  - Audio
  - Text
  - Status
- name: Authentication
  tags:
  - OAuth 2.0 / OpenID Connect
  - Interoperability
- name: Account
  tags:
  - Company
  - Custom Fields
  - Features
  - Licenses
  - Tax Locations
  - Cost Centers
  - Multi-Site
  - Phone Numbers
  - Presence
  - Regional Settings
  - User Permissions
  - User Settings
  - Audit Trail
  - Calling Rates
  - Appearance Customization
  - Account Integrations
- name: Provisioning
  tags:
  - Automatic Location Updates
  - Devices
  - Extensions
  - Paging Only Groups
  - Park Locations
  - Phone Lines
  - SCIM
  - Shared Lines
  - Group Call Pickup
  - Delegated Lines Groups
  - Directed Call Pickup
  - IVR Apps
  - Video Configuration
  - Number Porting
  - SMB
  - Account Federation
  - Integrations
  - Enterprise Portal API
  - Push to Talk Provisioning
  - BYOC
- name: Address Book
  tags:
  - External Contacts
  - Internal Contacts
  - Hybrid Directory Contacts
  - Overlay Contacts
  - External Shared Directory
- name: Roles and Permissions
  tags:
  - Permissions
  - Role Management
  - Site Administration
  - User Groups
- name: Events & Notifications
  tags:
  - Subscriptions
- name: User Integrations
  tags:
  - Token Management
  - Calendar Management
  - Calendar Event Management
  - Calendar Presence Link
  - Cloud Personal Contacts
  - Cloud Shared Contacts
  - Cloud Directory
  - Deprecated Calendar API
- name: Rooms
  tags:
  - Rooms Client API
  - Rooms Management API
- name: App Management
  tags:
  - App Gallery
  - App Rating Review
  - Bot Provisioning
- name: Workflow Builder
  tags:
  - Flows
  - Flow Editor
  - Flow Log
  - Flow Templates
- name: Utilities
  tags:
  - API Info
  - Application Settings
  - Async Tasks
  - User Notifications
  - Client Versions
  - End-to-End Encryption
