openapi: 3.0.3
info:
  title: RingCentral Adaptive Cards Profile API
  description: RingCentral API specification
  version: 1.0.58-20240529-47eda8bd
  contact:
    name: RingCentral Developers Support
    url: https://developers.ringcentral.com/support
  termsOfService: https://www.ringcentral.com/legal/apilitos.html
  license:
    name: RingCentral API License Agreement
    url: https://www.ringcentral.com/legal/apilitos.html
servers:
- url: https://platform.ringcentral.com
  description: Production API entry point
- url: https://media.ringcentral.com
  description: Production Media entry point
- url: https://platform.devtest.ringcentral.com
  description: Developer sandbox API entry point
- url: https://platform.devtest.ringcentral.com
  description: Developer sandbox Media entry point
security:
- OAuth2: []
tags:
- name: Profile
paths:
  /team-messaging/v1/companies/{companyId}:
    get:
      tags:
      - Profile
      summary: Get Company Info
      description: Returns information about one or more companies by their IDs.
      operationId: readTMCompanyInfoNew
      parameters:
      - name: companyId
        in: path
        description: Internal identifier of an RC account/Glip company, or tilde (~) to indicate a company the current user belongs to.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TMCompanyInfo'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/TMCompanyInfo'
        '207':
          description: Mixed Result
        '403':
          description: You do not have permissions to get such kind of information
        '404':
          description: Company Not Found
      x-feature: TeamMessaging
      x-throttling-group: Light
      x-app-permission: TeamMessaging
  /team-messaging/v1/persons/{personId}:
    get:
      tags:
      - Profile
      summary: Get Person
      description: Returns a user or multiple users by their ID(s). Batch request is supported.
      operationId: readGlipPersonNew
      parameters:
      - name: personId
        in: path
        description: Internal identifier of a user to be returned, the maximum number of IDs is 30
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TMPersonInfo'
        '207':
          description: Mixed Result
        '403':
          description: You do not have permissions to get such kind of information
        '404':
          description: Person Not Found
      x-feature: TeamMessaging
      x-throttling-group: Light
      x-app-permission: TeamMessaging
components:
  schemas:
    TMPersonInfo:
      required:
      - id
      type: object
      properties:
        id:
          type: string
          description: Internal identifier of a user
        firstName:
          type: string
          description: First name of a user
        lastName:
          type: string
          description: Last name of a user
        email:
          type: string
          format: email
          description: Email of a user
        avatar:
          type: string
          description: Photo of a user
        companyId:
          type: string
          description: Internal identifier of a company
        creationTime:
          type: string
          description: Time of creation in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format
          format: date-time
        lastModifiedTime:
          type: string
          description: Time of the last modification in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format
          format: date-time
    TMCompanyInfo:
      required:
      - creationTime
      - id
      - lastModifiedTime
      type: object
      properties:
        id:
          description: Internal identifier of a company (RingCentral account ID)
          type: string
        name:
          type: string
          description: Name of a company
        domain:
          type: string
          description: Domain name of a company
        creationTime:
          type: string
          description: Datetime of creation in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
          format: date-time
        lastModifiedTime:
          type: string
          description: Datetime of last modification in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
          format: date-time
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.ringcentral.com/restapi/oauth/authorize
          tokenUrl: https://platform.ringcentral.com/restapi/oauth/token
          refreshUrl: https://platform.ringcentral.com/restapi/oauth/token
          scopes: {}
x-tagGroups:
- name: Voice
  popular: true
  tags:
  - Business Hours
  - Call Blocking
  - Call Control
  - Call Forwarding
  - Call Handling Rules
  - Interaction Rules
  - State-based Rules
  - Call Flip
  - Call Log
  - Call History
  - Call Log Export
  - Call Monitoring Groups
  - Call Queues
  - Call Recordings
  - Call Recording Settings
  - Device SIP Registration
  - Greetings
  - IVR
  - RingOut
  - Verification Calls
- name: SMS and Fax
  popular: true
  tags:
  - Fax
  - Message Exports
  - Message Store
  - Pager Messages
  - SMS
  - High Volume SMS
  - SMS Log Export
  - SMS Templates
  - Voicemail Broadcasting
- name: Social Messaging
  popular: true
  tags:
  - Identities
  - Contents
- name: Team Messaging
  popular: true
  tags:
  - Adaptive Cards
  - Bots
  - Calendar Events
  - Chats
  - Conversations
  - Compliance Exports
  - Contacts
  - Incoming Webhooks
  - Notes
  - Posts
  - Profile
  - Tasks
  - Teams
- name: Video
  popular: true
  tags:
  - Bridge Management
  - Delegation Management
  - Meetings History
  - Meeting Recordings
  - RCM Meetings (Legacy)
  - RCM Webinars (Legacy)
- name: Webinar
  popular: true
  tags:
  - Webinars and Sessions
  - Invitees
  - Historical Webinars
  - Historical Recordings
  - Registration Management
  - Registrants
  - Webinar Analytics
  - Webinar Subscriptions
- name: Analytics
  popular: true
  tags:
  - Business Analytics
- name: Artificial Intelligence
  popular: true
  tags:
  - Insights
  - Audio
  - Text
  - Status
- name: Authentication
  tags:
  - OAuth 2.0 / OpenID Connect
  - Interoperability
- name: Account
  tags:
  - Company
  - Custom Fields
  - Features
  - Licenses
  - Tax Locations
  - Cost Centers
  - Multi-Site
  - Phone Numbers
  - Presence
  - Regional Settings
  - User Permissions
  - User Settings
  - Audit Trail
  - Calling Rates
  - Appearance Customization
  - Account Integrations
- name: Provisioning
  tags:
  - Automatic Location Updates
  - Devices
  - Extensions
  - Paging Only Groups
  - Park Locations
  - Phone Lines
  - SCIM
  - Shared Lines
  - Group Call Pickup
  - Delegated Lines Groups
  - Directed Call Pickup
  - IVR Apps
  - Video Configuration
  - Number Porting
  - SMB
  - Account Federation
  - Integrations
  - Enterprise Portal API
  - Push to Talk Provisioning
  - BYOC
- name: Address Book
  tags:
  - External Contacts
  - Internal Contacts
  - Hybrid Directory Contacts
  - Overlay Contacts
  - External Shared Directory
- name: Roles and Permissions
  tags:
  - Permissions
  - Role Management
  - Site Administration
  - User Groups
- name: Events & Notifications
  tags:
  - Subscriptions
- name: User Integrations
  tags:
  - Token Management
  - Calendar Management
  - Calendar Event Management
  - Calendar Presence Link
  - Cloud Personal Contacts
  - Cloud Shared Contacts
  - Cloud Directory
  - Deprecated Calendar API
- name: Rooms
  tags:
  - Rooms Client API
  - Rooms Management API
- name: App Management
  tags:
  - App Gallery
  - App Rating Review
  - Bot Provisioning
- name: Workflow Builder
  tags:
  - Flows
  - Flow Editor
  - Flow Log
  - Flow Templates
- name: Utilities
  tags:
  - API Info
  - Application Settings
  - Async Tasks
  - User Notifications
  - Client Versions
  - End-to-End Encryption
