openapi: 3.0.3
info:
  title: RingCentral Adaptive Cards Incoming Webhooks API
  description: RingCentral API specification
  version: 1.0.58-20240529-47eda8bd
  contact:
    name: RingCentral Developers Support
    url: https://developers.ringcentral.com/support
  termsOfService: https://www.ringcentral.com/legal/apilitos.html
  license:
    name: RingCentral API License Agreement
    url: https://www.ringcentral.com/legal/apilitos.html
servers:
- url: https://platform.ringcentral.com
  description: Production API entry point
- url: https://media.ringcentral.com
  description: Production Media entry point
- url: https://platform.devtest.ringcentral.com
  description: Developer sandbox API entry point
- url: https://platform.devtest.ringcentral.com
  description: Developer sandbox Media entry point
security:
- OAuth2: []
tags:
- name: Incoming Webhooks
paths:
  /team-messaging/v1/webhooks:
    get:
      tags:
      - Incoming Webhooks
      summary: List Webhooks
      description: Returns the list of all webhooks associated with the current account.
      operationId: listGlipWebhooksNew
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TMWebhookList'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/TMWebhookList'
      x-feature: TeamMessaging
      x-throttling-group: Medium
      x-app-permission: TeamMessaging
  /team-messaging/v1/webhooks/{webhookId}:
    get:
      tags:
      - Incoming Webhooks
      summary: Get Webhook
      description: Returns webhooks(s) with the specified id(s).
      operationId: readGlipWebhookNew
      parameters:
      - name: webhookId
        in: path
        description: Internal identifier of a webhook or comma separated list of webhooks IDs
        required: true
        style: simple
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TMWebhookList'
            multipart/mixed:
              schema:
                $ref: '#/components/schemas/TMWebhookList'
        '400':
          description: Some of the parameters are missing or have invalid format
        '404':
          description: Webhooks not found.
      x-feature: TeamMessaging
      x-throttling-group: Medium
      x-app-permission: TeamMessaging
    delete:
      tags:
      - Incoming Webhooks
      summary: Delete Webhook
      description: Deletes a webhook by ID.
      operationId: deleteGlipWebhookNew
      parameters:
      - name: webhookId
        in: path
        description: Internal identifier of a webhook
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The resource was deleted successfully.
        '400':
          description: Some of the parameters are missing or have invalid format
        '404':
          description: Webhook not found.
      x-feature: TeamMessaging
      x-throttling-group: Medium
      x-app-permission: TeamMessaging
  /team-messaging/v1/webhooks/{webhookId}/activate:
    post:
      tags:
      - Incoming Webhooks
      summary: Activate Webhook
      description: Activates a webhook by ID.
      operationId: activateGlipWebhookNew
      parameters:
      - name: webhookId
        in: path
        description: Internal identifier of a webhook
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Some of the parameters are missing or have invalid format
        '404':
          description: Webhook not found.
      x-feature: TeamMessaging
      x-throttling-group: Medium
      x-app-permission: TeamMessaging
  /team-messaging/v1/webhooks/{webhookId}/suspend:
    post:
      tags:
      - Incoming Webhooks
      summary: Suspend Webhook
      description: Suspends a webhook by ID.
      operationId: suspendGlipWebhookNew
      parameters:
      - name: webhookId
        in: path
        description: Internal identifier of a webhook
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '400':
          description: Some of the parameters are missing or have invalid format
        '404':
          description: Webhook not found.
      x-feature: TeamMessaging
      x-throttling-group: Medium
      x-app-permission: TeamMessaging
  /team-messaging/v1/groups/{groupId}/webhooks:
    get:
      tags:
      - Incoming Webhooks
      summary: List Webhooks in Group
      description: Returns webhooks which are available for the current user by group ID.
      operationId: listGlipGroupWebhooksNew
      parameters:
      - name: groupId
        in: path
        description: Internal identifier of a group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TMWebhookList'
        '404':
          description: Group with specified ID is not found.
      x-feature: TeamMessaging
      x-throttling-group: Medium
      x-app-permission: TeamMessaging
    post:
      tags:
      - Incoming Webhooks
      summary: Create Webhook in Group
      description: Creates a new webhook.
      operationId: createGlipGroupWebhookNew
      parameters:
      - name: groupId
        in: path
        description: Internal identifier of a group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TMWebhookInfo'
        '400':
          description: Some of the parameters are missing or have invalid format
      x-feature: TeamMessaging
      x-throttling-group: Medium
      x-app-permission: TeamMessaging
components:
  schemas:
    TMWebhookInfo:
      type: object
      properties:
        id:
          type: string
          description: Internal identifier of a webhook
        creatorId:
          type: string
          description: Internal identifier of the user who created a webhook
        groupIds:
          type: array
          description: Internal identifiers of groups where a webhook has been created
          items:
            type: string
        creationTime:
          type: string
          description: Webhook creation time in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format
          format: date-time
        lastModifiedTime:
          type: string
          description: Webhook last update time in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format
          format: date-time
        uri:
          type: string
          format: uri
          description: Public link to send a webhook payload
        status:
          type: string
          description: Current status of a webhook
          enum:
          - Active
          - Suspended
          - Deleted
    TMWebhookList:
      type: object
      properties:
        records:
          type: array
          items:
            $ref: '#/components/schemas/TMWebhookInfo'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.ringcentral.com/restapi/oauth/authorize
          tokenUrl: https://platform.ringcentral.com/restapi/oauth/token
          refreshUrl: https://platform.ringcentral.com/restapi/oauth/token
          scopes: {}
x-tagGroups:
- name: Voice
  popular: true
  tags:
  - Business Hours
  - Call Blocking
  - Call Control
  - Call Forwarding
  - Call Handling Rules
  - Interaction Rules
  - State-based Rules
  - Call Flip
  - Call Log
  - Call History
  - Call Log Export
  - Call Monitoring Groups
  - Call Queues
  - Call Recordings
  - Call Recording Settings
  - Device SIP Registration
  - Greetings
  - IVR
  - RingOut
  - Verification Calls
- name: SMS and Fax
  popular: true
  tags:
  - Fax
  - Message Exports
  - Message Store
  - Pager Messages
  - SMS
  - High Volume SMS
  - SMS Log Export
  - SMS Templates
  - Voicemail Broadcasting
- name: Social Messaging
  popular: true
  tags:
  - Identities
  - Contents
- name: Team Messaging
  popular: true
  tags:
  - Adaptive Cards
  - Bots
  - Calendar Events
  - Chats
  - Conversations
  - Compliance Exports
  - Contacts
  - Incoming Webhooks
  - Notes
  - Posts
  - Profile
  - Tasks
  - Teams
- name: Video
  popular: true
  tags:
  - Bridge Management
  - Delegation Management
  - Meetings History
  - Meeting Recordings
  - RCM Meetings (Legacy)
  - RCM Webinars (Legacy)
- name: Webinar
  popular: true
  tags:
  - Webinars and Sessions
  - Invitees
  - Historical Webinars
  - Historical Recordings
  - Registration Management
  - Registrants
  - Webinar Analytics
  - Webinar Subscriptions
- name: Analytics
  popular: true
  tags:
  - Business Analytics
- name: Artificial Intelligence
  popular: true
  tags:
  - Insights
  - Audio
  - Text
  - Status
- name: Authentication
  tags:
  - OAuth 2.0 / OpenID Connect
  - Interoperability
- name: Account
  tags:
  - Company
  - Custom Fields
  - Features
  - Licenses
  - Tax Locations
  - Cost Centers
  - Multi-Site
  - Phone Numbers
  - Presence
  - Regional Settings
  - User Permissions
  - User Settings
  - Audit Trail
  - Calling Rates
  - Appearance Customization
  - Account Integrations
- name: Provisioning
  tags:
  - Automatic Location Updates
  - Devices
  - Extensions
  - Paging Only Groups
  - Park Locations
  - Phone Lines
  - SCIM
  - Shared Lines
  - Group Call Pickup
  - Delegated Lines Groups
  - Directed Call Pickup
  - IVR Apps
  - Video Configuration
  - Number Porting
  - SMB
  - Account Federation
  - Integrations
  - Enterprise Portal API
  - Push to Talk Provisioning
  - BYOC
- name: Address Book
  tags:
  - External Contacts
  - Internal Contacts
  - Hybrid Directory Contacts
  - Overlay Contacts
  - External Shared Directory
- name: Roles and Permissions
  tags:
  - Permissions
  - Role Management
  - Site Administration
  - User Groups
- name: Events & Notifications
  tags:
  - Subscriptions
- name: User Integrations
  tags:
  - Token Management
  - Calendar Management
  - Calendar Event Management
  - Calendar Presence Link
  - Cloud Personal Contacts
  - Cloud Shared Contacts
  - Cloud Directory
  - Deprecated Calendar API
- name: Rooms
  tags:
  - Rooms Client API
  - Rooms Management API
- name: App Management
  tags:
  - App Gallery
  - App Rating Review
  - Bot Provisioning
- name: Workflow Builder
  tags:
  - Flows
  - Flow Editor
  - Flow Log
  - Flow Templates
- name: Utilities
  tags:
  - API Info
  - Application Settings
  - Async Tasks
  - User Notifications
  - Client Versions
  - End-to-End Encryption
