openapi: 3.0.3
info:
  title: RingCentral Adaptive Cards Call Handling Rules API
  description: RingCentral API specification
  version: 1.0.58-20240529-47eda8bd
  contact:
    name: RingCentral Developers Support
    url: https://developers.ringcentral.com/support
  termsOfService: https://www.ringcentral.com/legal/apilitos.html
  license:
    name: RingCentral API License Agreement
    url: https://www.ringcentral.com/legal/apilitos.html
servers:
- url: https://platform.ringcentral.com
  description: Production API entry point
- url: https://media.ringcentral.com
  description: Production Media entry point
- url: https://platform.devtest.ringcentral.com
  description: Developer sandbox API entry point
- url: https://platform.devtest.ringcentral.com
  description: Developer sandbox Media entry point
security:
- OAuth2: []
tags:
- name: Call Handling Rules
paths:
  /restapi/v1.0/account/{accountId}/answering-rule:
    get:
      tags:
      - Call Handling Rules
      summary: List Company Call Handling Rules
      description: Returns a list of company call handling rules.
      operationId: listCompanyAnsweringRules
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyAnsweringRuleList'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-feature: ReadAccountAnsweringRules
      x-availability: High
      x-throttling-group: Medium
      x-app-permission: ReadAccounts
      x-user-permission: ReadCompanyAnsweringRules
    post:
      tags:
      - Call Handling Rules
      summary: Create Company Call Handling Rule
      description: Creates call handling rule on account level.
      operationId: createCompanyAnsweringRule
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyAnsweringRuleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyAnsweringRuleInfo'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-feature: EditAccountAnsweringRules
      x-availability: Limited
      x-throttling-group: Medium
      x-app-permission: EditAccounts
      x-user-permission: EditCompanyAnsweringRules
  /restapi/v1.0/account/{accountId}/answering-rule/{ruleId}:
    get:
      tags:
      - Call Handling Rules
      summary: Get Company Call Handling Rule
      description: Returns a company call handling rule by ID.
      operationId: readCompanyAnsweringRule
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/CallHandlingRuleId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyAnsweringRuleInfo'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-feature: ReadAccountAnsweringRules
      x-availability: High
      x-throttling-group: Light
      x-app-permission: ReadAccounts
      x-user-permission: ReadCompanyAnsweringRules
    put:
      tags:
      - Call Handling Rules
      summary: Update Company Call Handling Rule
      description: Updates a company call handling rule.
      operationId: updateCompanyAnsweringRule
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/CallHandlingRuleId'
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyAnsweringRuleUpdate'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyAnsweringRuleInfo'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-feature: EditAccountAnsweringRules
      x-availability: Limited
      x-throttling-group: Medium
      x-app-permission: EditAccounts
      x-user-permission: EditCompanyAnsweringRules
    delete:
      tags:
      - Call Handling Rules
      summary: Delete Company Call Handling Rule
      description: Deletes a company custom call handling rule by a particular ID.
      operationId: deleteCompanyAnsweringRule
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/CallHandlingRuleId'
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-feature: EditAccountAnsweringRules
      x-availability: Limited
      x-throttling-group: Medium
      x-app-permission: EditAccounts
      x-user-permission: EditCompanyAnsweringRules
  /restapi/v1.0/account/{accountId}/forward-all-calls:
    get:
      tags:
      - Call Handling Rules
      summary: Get Forward All Company Calls
      description: Returns information about *Forward All Company Calls* feature setting.
      operationId: getForwardAllCompanyCalls
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForwardAllCompanyCallsInfo'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-availability: High
      x-throttling-group: Light
      x-app-permission: ReadAccounts
      x-user-permission: ReadCompanyAnsweringRules
    patch:
      tags:
      - Call Handling Rules
      summary: Update Forward All Company Calls
      description: Updates *Forward All Company Calls* feature setting.
      operationId: updateForwardAllCompanyCalls
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForwardAllCompanyCallsRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForwardAllCompanyCallsInfo'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-availability: High
      x-throttling-group: Medium
      x-app-permission: EditAccounts
      x-user-permission: EditCompanyAnsweringRules
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/answering-rule:
    get:
      tags:
      - Call Handling Rules
      summary: List Call Handling Rules
      description: Returns call handling rules of an extension.
      operationId: listAnsweringRules
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ExtensionId'
      - name: type
        in: query
        description: Filters custom call handling rules of the extension
        schema:
          type: string
          enum:
          - Custom
      - name: view
        in: query
        schema:
          type: string
          default: Simple
          enum:
          - Detailed
          - Simple
      - name: enabledOnly
        in: query
        description: If true, then only active call handling rules are returned
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAnsweringRuleList'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-feature: ReadExtensionAnsweringRules
      x-availability: High
      x-throttling-group: Medium
      x-app-permission: ReadAccounts
      x-user-permission: ReadUserAnsweringRules
    post:
      tags:
      - Call Handling Rules
      summary: Create Call Handling Rule
      description: Creates a custom call handling rule for a particular caller ID.
      operationId: createAnsweringRule
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ExtensionId'
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAnsweringRuleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomAnsweringRuleInfo'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-feature: EditExtensionAnsweringRules
      x-availability: Limited
      x-throttling-group: Medium
      x-app-permission: EditExtensions
      x-user-permission: EditUserAnsweringRules
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/answering-rule/{ruleId}:
    get:
      tags:
      - Call Handling Rules
      summary: Get Call Handling Rule
      description: Returns a call handling rule by ID.
      operationId: readAnsweringRule
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ExtensionId'
      - $ref: '#/components/parameters/CallHandlingRuleId'
      - name: showInactiveNumbers
        in: query
        description: Indicates whether inactive numbers should be returned or not
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnsweringRuleInfo'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-feature: ReadExtensionAnsweringRules
      x-availability: High
      x-throttling-group: Light
      x-app-permission: ReadAccounts
      x-user-permission: ReadUserAnsweringRules
    put:
      tags:
      - Call Handling Rules
      summary: Update Call Handling Rule
      description: Updates a custom call handling rule for a particular caller ID.
      operationId: updateAnsweringRule
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ExtensionId'
      - $ref: '#/components/parameters/CallHandlingRuleId'
      requestBody:
        description: JSON body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAnsweringRuleRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnsweringRuleInfo'
        '400':
          $ref: '#/components/responses/InvalidRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-feature: EditExtensionAnsweringRules
      x-availability: Limited
      x-throttling-group: Medium
      x-app-permission: EditExtensions
      x-user-permission: EditUserAnsweringRules
    delete:
      tags:
      - Call Handling Rules
      summary: Delete Call Handling Rule
      description: Deletes a custom call handling rule by a particular ID.
      operationId: deleteAnsweringRule
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ExtensionId'
      - $ref: '#/components/parameters/CallHandlingRuleId'
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
        '503':
          $ref: '#/components/responses/ServiceNotAvailable'
      x-feature: EditExtensionAnsweringRules
      x-availability: Limited
      x-throttling-group: Medium
      x-app-permission: EditExtensions
      x-user-permission: EditUserAnsweringRules
components:
  schemas:
    CreateAnsweringRuleForwardingNumberInfo:
      type: object
      properties:
        id:
          type: string
          description: Internal identifier of a forwarding number
        uri:
          type: string
          format: uri
          description: Canonical URI of a forwarding/call flip phone number
        phoneNumber:
          type: string
          description: Forwarding/Call flip phone number
        label:
          type: string
          description: Forwarding/Call flip number title
        type:
          type: string
          description: Type of forwarding number
          enum:
          - Home
          - Mobile
          - Work
          - PhoneLine
          - Outage
          - Other
          - BusinessMobilePhone
          - ExternalCarrier
          - ExtensionApps
    IvrCallHandlingActionEnum:
      type: string
      description: 'Specifies how incoming calls are forwarded. The default value

        is ''Operator'' ''Operator'' - play company greeting and forward to operator

        extension ''Disconnect'' - play company greeting and disconnect ''Bypass''

        - bypass greeting to go to selected extension = [''Operator'', ''Disconnect'',

        ''Bypass'']

        '
      enum:
      - Operator
      - Disconnect
      - Bypass
    CompanyAnsweringRuleExtensionInfoRequest:
      type: object
      properties:
        id:
          type: string
          description: Internal identifier of an extension
      description: Extension to which the call is forwarded in 'Bypass' mode
    SharedLinesInfo:
      type: object
      properties:
        timeout:
          type: integer
          format: int32
          minimum: 10
          maximum: 80
          description: 'Number of seconds to wait before forwarding unanswered calls. The value range is 10 - 80

            '
      description: SharedLines call handling action settings
    CompanyAnsweringRuleCalledNumberInfoRequest:
      type: object
      properties:
        id:
          type: string
          description: Internal identifier of an account phone number
        phoneNumber:
          type: string
          description: Phone number of a callee
    ScheduleInfo:
      type: object
      description: Schedule when an answering rule should be applied
      properties:
        weeklyRanges:
          $ref: '#/components/schemas/WeeklyScheduleInfo'
        ranges:
          type: array
          description: Specific data ranges
          items:
            $ref: '#/components/schemas/RangesInfo'
        ref:
          type: string
          description: The user's schedule specified for business hours or after hours; it can also be set/retrieved calling the corresponding method
          enum:
          - BusinessHours
          - AfterHours
    VoicemailInfo:
      type: object
      properties:
        enabled:
          type: boolean
          description: If `true` then voicemails are allowed to be received
        recipient:
          $ref: '#/components/schemas/RecipientInfo'
      description: Specifies whether to take a voicemail and who should do it
    CompanyAnsweringRuleRequest:
      type: object
      properties:
        name:
          type: string
          description: Name of an answering rule specified by user. Max number of symbols is 30. The default value is 'My Rule N' where 'N' is the first free number
        enabled:
          type: boolean
          description: Specifies if the rule is active or inactive. The default value is `true`
          default: true
        type:
          type: string
          description: Type of an answering rule, the default value is 'Custom' = ['BusinessHours', 'AfterHours', 'Custom']
          enum:
          - BusinessHours
          - AfterHours
          - Custom
        callers:
          type: array
          description: Answering rule will be applied when calls are received from the specified caller(s)
          items:
            $ref: '#/components/schemas/CompanyAnsweringRuleCallersInfoRequest'
        calledNumbers:
          type: array
          description: Answering rule will be applied when calling the specified number(s)
          items:
            $ref: '#/components/schemas/CompanyAnsweringRuleCalledNumberInfo'
        schedule:
          $ref: '#/components/schemas/CompanyAnsweringRuleScheduleInfoRequest'
        callHandlingAction:
          type: string
          description: Specifies how incoming calls are forwarded. The default value is 'Operator' 'Operator' - play company greeting and forward to operator extension 'Disconnect' - play company greeting and disconnect 'Bypass' - bypass greeting to go to selected extension = ['Operator', 'Disconnect', 'Bypass']
          enum:
          - Operator
          - Disconnect
          - Bypass
        extension:
          $ref: '#/components/schemas/CompanyAnsweringRuleExtensionInfoRequest'
        greetings:
          type: array
          description: Greetings applied for an answering rule; only predefined greetings can be applied, see Dictionary Greeting List
          items:
            $ref: '#/components/schemas/GreetingInfo'
    CompanyAnsweringRuleCallersInfoRequest:
      type: object
      properties:
        callerId:
          type: string
          description: Phone number of a caller
        name:
          type: string
          description: Displayed name for a caller ID
    ApiErrorWithParameter:
      description: 'The error model with additional attributes which can be used for HTTP 400/409

        This is a deprecated model: "ApiError" model can be used instead with arbitrary additional parameters

        '
      allOf:
      - $ref: '#/components/schemas/ApiError'
      - type: object
        properties:
          parameterName:
            type: string
            description: The name of the API parameter/attribute which caused the error
          parameterValue:
            type: string
            description: The value of the API parameter/attribute which caused the error
    CompanyAnsweringRuleUpdate:
      type: object
      properties:
        enabled:
          type: boolean
          description: Specifies if a rule is active or inactive. The default value is `true`
          default: true
        name:
          type: string
          description: 'Name of an answering rule specified by user. Max number of

            symbols is 30. The default value is ''My Rule N'' where ''N'' is the first

            free number

            '
        callers:
          type: array
          description: 'Answering rule will be applied when calls are received from

            the specified caller(s)

            '
          items:
            $ref: '#/components/schemas/CompanyAnsweringRuleCallersInfoRequest'
        calledNumbers:
          type: array
          description: Answering rule will be applied when calling the specified number(s)
          items:
            $ref: '#/components/schemas/CompanyAnsweringRuleCalledNumberInfo'
        schedule:
          $ref: '#/components/schemas/CompanyAnsweringRuleScheduleInfoRequest'
        callHandlingAction:
          type: string
          description: Specifies how incoming calls are forwarded. The default value is 'Operator' 'Operator' - play company greeting and forward to operator extension 'Disconnect' - play company greeting and disconnect 'Bypass' - bypass greeting to go to selected extension = ['Operator', 'Disconnect','Bypass']
          enum:
          - Operator
          - Disconnect
          - Bypass
        type:
          type: string
          description: Type of an answering rule
          default: Custom
          enum:
          - BusinessHours
          - AfterHours
          - Custom
        extension:
          $ref: '#/components/schemas/CompanyAnsweringRuleCallersInfoRequest'
        greetings:
          type: array
          description: 'Greetings applied for an answering rule; only predefined greetings

            can be applied, see Dictionary Greeting List

            '
          items:
            $ref: '#/components/schemas/GreetingInfo'
    FixedOrderAgents:
      type: object
      properties:
        extension:
          $ref: '#/components/schemas/FixedOrderAgentsExtensionInfo'
        index:
          type: integer
          format: int32
          description: Ordinal of an agent (call queue member)
    UnconditionalForwardingInfo:
      type: object
      description: 'Unconditional forwarding parameters.

        Returned if ''UnconditionalForwarding'' value is specified for the `callHandlingAction` parameter

        '
      properties:
        phoneNumber:
          type: string
          description: 'Phone number to which the call is forwarded. In addition to

            common e.164 format, the following number patterns are supported: 11xxxxxxxxxxx,

            444xxxxxxxxxxx, 616xxxxxxxxxxx, 1700yyyy; where xxxxxxxxxxx is a phone number in

            e.164 format (without ''+'' sign) and yyyy is an external short extension number.

            Max number of digits is 15

            '
        action:
          type: string
          description: Event that initiates forwarding to the specified phone number
          enum:
          - HoldTimeExpiration
          - MaxCallers
          - NoAnswer
    ApiError:
      type: object
      description: Generalized API error structure suitable for any error type
      required:
      - errorCode
      - message
      properties:
        errorCode:
          type: string
          description: Logical error code (typically, 3 letters followed with number, dash separated)
          example: XXX-123
        message:
          type: string
          description: User-friendly error message
          example: Something went wrong
      additionalProperties: true
    MissedCallExtensionInfo:
      type: object
      description: Specifies an extension (a calling group) which should be used for the missed call transfer. Returned only if the `actionType` is set to 'ConnectToExtension'
      properties:
        id:
          type: string
          description: Internal identifier of an extension which should be used for the missed call transfer
        externalNumber:
          $ref: '#/components/schemas/MissedCallExtensionInfoExternalNumber'
    CalledNumberInfo:
      type: object
      properties:
        phoneNumber:
          type: string
          description: Called phone number
    PageNavigationUri:
      type: object
      additionalProperties: false
      properties:
        uri:
          type: string
          description: Canonical URI to retrieve the particular page of the result set
          format: uri
    EnumeratedPagingModel:
      type: object
      required:
      - perPage
      additionalProperties: false
      properties:
        perPage:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          description: 'Current page size, describes how many items are in each page.

            Matches "perPage" parameter from the request.

            '
          example: 50
        page:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          description: 'The current page number. 1-indexed, so the first page is 1

            by default. May be omitted if result is empty (because non-existent page

            was specified or perPage=0 was requested)

            '
          example: 5
        pageStart:
          type: integer
          format: int32
          minimum: 0
          description: 'The zero-based number of the first element on the current page.

            Omitted if the page is omitted or result is empty

            '
          example: 0
        pageEnd:
          type: integer
          format: int32
          minimum: 0
          description: 'The zero-based index of the last element on the current page.

            Omitted if the page is omitted or result is empty

            '
          example: 5
        totalPages:
          type: integer
          format: int32
          minimum: 0
          description: 'The total number of pages in a dataset. May be omitted for

            some resources due to performance reasons

            '
          example: 25
        totalElements:
          type: integer
          format: int32
          minimum: 0
          description: 'The total number of elements in a dataset. May be omitted for

            some resource due to performance reasons

            '
          example: 25
    ApiErrorResponseModel:
      type: object
      description: Standard error response model which is returned in case of any unsuccessful operation
      required:
      - errors
      properties:
        errors:
          type: array
          description: The array of errors (there will be just one in the most of the cases)
          minItems: 1
          items:
            $ref: '#/components/schemas/ApiError'
    WeeklyScheduleInfo:
      type: object
      properties:
        monday:
          type: array
          description: Time intervals for a particular day
          items:
            $ref: '#/components/schemas/TimeInterval'
        tuesday:
          type: array
          description: Time intervals for a particular day
          items:
            $ref: '#/components/schemas/TimeInterval'
        wednesday:
          type: array
          description: Time intervals for a particular day
          items:
            $ref: '#/components/schemas/TimeInterval'
        thursday:
          type: array
          description: Time intervals for a particular day
          items:
            $ref: '#/components/schemas/TimeInterval'
        friday:
          type: array
          description: Time intervals for a particular day
          items:
            $ref: '#/components/schemas/TimeInterval'
        saturday:
          type: array
          description: Time intervals for a particular day
          items:
            $ref: '#/components/schemas/TimeInterval'
        sunday:
          type: array
          description: Time intervals for a particular day
          items:
            $ref: '#/components/schemas/TimeInterval'
      description: Weekly schedule
    MissedCallInfo:
      type: object
      description: Specifies behavior for the missed call scenario. Returned only if `enabled` parameter of a voicemail is set to 'false'
      properties:
        actionType:
          type: string
          description: Specifies the action that should be executed on a missed call. It can either be playing greeting message and disconnection, or sending call to a calling group. If 'ConnectToExtension' is set, then calling group extension should be specified
          enum:
          - PlayGreetingAndDisconnect
          - ConnectToExtension
          - ConnectToExternalNumber
        extension:
          $ref: '#/components/schemas/MissedCallExtensionInfo'
    ForwardingRuleCreateRequest:
      type: object
      properties:
        index:
          type: integer
          format: int32
          description: Forwarding number (or group) ordinal. Not returned for inactive numbers
        ringCount:
          type: integer
          format: int32
          description: 'Number of rings for a forwarding number (or group). For inactive

            numbers the default value (''4'') is returned

            '
        enabled:
          type: boolean
          description: Phone number status
        forwardingNumbers:
          type: array
          description: Forwarding number (or group) data
          items:
            $ref: '#/components/schemas/ForwardingNumberInfoRulesCreateRuleRequest'
    CompanyAnsweringRuleExtensionInfo:
      type: object
      properties:
        id:
          type: string
          description: Internal identifier of an extension
    CallersInfoRequest:
      type: object
      properties:
        callerId:
          type: string
          description: Phone number of a caller
        name:
          type: string
          description: Contact name of a caller
    PageNavigationModel:
      type: object
      description: Links to other pages of the current result set
      additionalProperties: false
      properties:
        firstPage:
          $ref: '#/components/schemas/PageNavigationUri'
        nextPage:
          $ref: '#/components/schemas/PageNavigationUri'
        previousPage:
          $ref: '#/components/schemas/PageNavigationUri'
        lastPage:
          $ref: '#/components/schemas/PageNavigationUri'
    ForwardingInfo:
      type: object
      properties:
        notifyMySoftPhones:
          type: boolean
          description: Specifies if the user's softphone(s) are notified before forwarding the incoming call to desk phones and forwarding numbers
        notifyAdminSoftPhones:
          type: boolean
          description: Deprecated parameter. Specifies if the administrator's softphone is notified before forwarding the incoming call to desk phones and forwarding numbers. The default value is `false`
          deprecated: true
        softPhonesRingCount:
          type: integer
          format: int32
          description: Number of rings before forwarding starts
        softPhonesAlwaysRing:
          type: boolean
          description: Specifies that desktop and mobile applications of the user will ring till the end of their forwarding list. If set to `true` then `softPhonesRingCount` is ignored
          default: true
        ringingMode:
          type: string
          description: Specifies the order in which the forwarding numbers ring. 'Sequentially' means that forwarding numbers are ringing one at a time, in order of priority. 'Simultaneously' means that forwarding numbers are ring all at the same time
          enum:
          - Sequentially
          - Simultaneously
        rules:
          type: array
          description: Information on a call forwarding rule
          items:
            $ref: '#/components/schemas/ForwardingRuleInfo'
        softPhonesPositionTop:
          type: boolean
          description: Specifies if desktop and mobile applications of the user are notified before (true) or after (false) forwarding the incoming call to desk phones and forwarding numbers. Applicable only if `notifyMySoftPhones` parameter is set to `true`
        mobileTimeout:
          type: boolean
          description: Deprecated parameter. Specifies if mobile timeout is activated for the rule
          deprecated: true
      description: Forwarding parameters. Returned if 'ForwardCalls' is specified in 'callHandlingAction'. These settings determine the forwarding numbers to which the call will be forwarded
    ForwardingNumberInfoRulesCreateRuleRequest:
      type: object
      properties:
        id:
          type: string
          description: Internal identifier of a forwarding number
        type:
          type: string
          description: Forwarding phone number type
          enum:
          - Home
          - Mobile
          - Work
          - PhoneLine
          - Outage
          - Other
          - BusinessMobilePhone
          - ExternalCarrier
          - ExtensionApps
        phoneNumber:
          type: string
          description: Forwarding/Call flip phone number
        label:
          type: string
          description: Forwarding/Call flip number title
    AnsweringRuleInfo:
      type: object
      properties:
        uri:
          type: string
          format: uri
          description: Canonical URI to an answering rule resource
        id:
          type: string
          description: Internal identifier of an answering rule
        type:
          type: string
          description: Type of an answering rule
          enum:
          - BusinessHours
          - AfterHours
          - Custom
        name:
          type: string
          description: Name of an answering rule specified by user
        enabled:
          type: boolean
          description: Specifies if an answering rule is active or inactive
        schedule:
          $ref: '#/components/schemas/ScheduleInfo'
        calledNumbers:
          type: array
          description: Answering rules are applied when calling to selected number(s)
          items:
            $ref: '#/components/schemas/CalledNumberInfo'
        callers:
          type: array
          description: Answering rules are applied when calls are received from specified caller(s)
          items:
            $ref: '#/components/schemas/CallersInfo'
        callHandlingAction:
          type: string
          description: Specifies how incoming calls are forwarded
          enum:
          - ForwardCalls
          - UnconditionalForwarding
          - AgentQueue
          - TransferToExtension
          - TakeMessagesOnly
          - PlayAnnouncementOnly
          - SharedLines
        forwarding:
          $ref: '#/components/schemas/ForwardingInfo'
        unconditionalForwarding:
          $ref: '#/components/schemas/UnconditionalForwardingInfo'
        queue:
          $ref: '#/components/schemas/QueueInfo'
        transfer:
          $ref: '#/components/schemas/TransferredExtensionInfo'
        voicemail:
          $ref: '#/components/schemas/VoicemailInfo'
        greetings:
          type: array
          description: Greetings applied for an answering rule; only predefined greetings can be applied, see Dictionary Greeting List
          items:
            $ref: '#/components/schemas/GreetingInfo'
        screening:
          type: string
          description: Call screening status. 'Off' - no call screening; 'NoCallerId' - if caller ID is missing, then callers are asked to say their name before connecting; 'UnknownCallerId' - if caller ID is not in contact list, then callers are asked to say their name before connecting; 'Always' - the callers are always asked to say their name before connecting. The default value is 'Off'
          enum:
          - 'Off'
          - NoCallerId
          - UnknownCallerId
          - Always
          default: 'Off'
        sharedLines:
          $ref: '#/components/schemas/SharedLinesInfo'
        missedCall:
          $ref: '#/components/schemas/MissedCallInfo'
    CompanyAnsweringRuleScheduleInfoRequest:
      type: object
      properties:
        weeklyRanges:
          $ref: '#/components/schemas/CompanyAnsweringRuleWeeklyScheduleInfoRequest'
        ranges:
          type: array
          description: Specific data ranges. If specified, weeklyRanges cannot be specified
          items:
            $ref: '#/components/schemas/RangesInfo'
        ref:
          type: string
          description: Reference to Business Hours or After Hours schedule
          enum:
          - BusinessHours
          - AfterHours
      description: Schedule when an answering rule should be applied
    RangesInfo:
      type: object
      properties:
        from:
          type: string
          format: date-time
          description: 'Beginning timestamp of the range in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601),

            for example *2018-10-29T14:00:00*, *2018-10-29T14:00:00Z*, *2018-10-29T14:00:00+0100*

            '
        to:
          type: string
          format: date-time
          description: 'Ending timestamp of the range in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601),

            for example *2018-10-29T14:00:00*, *2018-10-29T14:00:00Z*, *2018-10-29T14:00:00+0100*

            '
    GreetingTypeEnum:
      type: string
      description: Type of greeting, specifying the case when the greeting is played.
      enum:
      - Introductory
      - Announcement
      - AutomaticRecording
      - BlockedCallersAll
      - BlockedCallersSpecific
      - BlockedNoCallerId
      - BlockedPayPhones
      - ConnectingMessage
      - ConnectingAudio
      - StartRecording
      - StopRecording
      - Voicemail
      - Unavailable
      - InterruptPrompt
      - HoldMusic
      - Company
    ListCompanyAnsweringRuleInfo:
      type: object
      properties:
        id:
          type: string
          description: Internal identifier of an answering rule
        uri:
          type: string
          format: uri
          description: Canonical URI of an answering rule
        enabled:
          type: boolean
          description: Specifies if the rule is active or inactive. The default value is `true`
          default: true
        type:
          type: string
          description: Type of an answering rule, the default value is 'Custom' = ['BusinessHours', 'AfterHours', 'Custom']
          enum:
          - BusinessHours
          - AfterHours
          - Custom
        name:
          type: string
          description: Name of an answering rule specified by user. Max number of symbols is 30. The default value is 'My Rule N' where 'N' is the first free number
        calledNumbers:
          type: array
          description: Answering rules are applied when calling to selected number(s)
          items:
            $ref: '#/components/schemas/CalledNumberInfo'
        extension:
          $ref: '#/components/schemas/CompanyAnsweringRuleExtensionInfo'
    TimeInterval:
      type: object
      properties:
        from:
          type: string
          description: Time in format hh:mm
        to:
          type: string
          description: Time in format hh:mm
    ParameterizedErrorResponseModel:
      type: object
      description: Standard error response which may include parameterized errors
      required:
      - errors
      properties:
        errors:
          type: array
          description: The array of errors (there will be just one in the most of the cases)
          minItems: 1
          items:
            $ref: '#/components/schemas/ApiErrorWithParameter'
    ForwardAllCompanyCallsInfo:
      type: object
      properties:
        enabled:
          type: boolean
          description: Indicates whether the *Forward All Company Calls* feature is enabled or disabled for an account
        ranges:
          type: array
          description: Specific data ranges. If specified, weeklyRanges cannot be specified
          items:
            $ref: '#/components/schemas/RangesInfo'
        callHandlingAction:
          $ref: '#/components/schemas/IvrCallHandlingActionEnum'
        extension:
          $ref: '#/components/schemas/ExtensionShortInfoResource'
        reason:
          $ref: '#/components/schemas/ForwardAllCallsReason'
    TransferredExtensionInfo:
      type: object
      properties:
        extension:
          $ref: '#/components/schemas/TransferredExtension'
    ForwardAllCompanyCallsRequest:
      type: object
      required:
      - enabled
      properties:
        enabled:
          type: boolean
          description: Indicates whether the *Forward All Company Calls* feature is enabled or disabled for an account
    CompanyAnsweringRuleList:
      type: object
      properties:
        uri:
          type: string
          format: uri
          description: Link to an answering rule resource
        records:
          type: array
          description: List of company answering rules
          items:
            $ref: '#/components/schemas/ListCompanyAnsweringRuleInfo'
        paging:
          $ref: '#/components/schemas/EnumeratedPagingModel'
        navigation:
          $ref: '#/components/schemas/PageNavigationModel'
    QueueInfo:
      type: object
      properties:
        transferMode:
          type: string
          description: Specifies how calls are transferred to group members
          enum:
          - Rotating
          - Simultaneous
          - FixedOrder
        transfer:
          type: array
          description: Call transfer information
          items:
            $ref: '#/components/schemas/TransferInfo'
        noAnswerAction:
          type: string
          description: 'Specifies the type of action to be taken if: members are available

            but no one answers, or all members are busy/unavailable. This option is

            available for Business hours only. For simultaneous transfer mode only

            ''WaitPrimaryMembers'' and ''WaitPrimaryAndOverflowMembers'' are supported

            '
          enum:
          - WaitPrimaryMembers
          - WaitPrimaryAndOverflowMembers
          - Voicemail
          - TransferToExtension
          - UnconditionalForwarding
        fixedOrderAgents:
          type: array
          description: Information on a call forwarding rule
          items:
            $ref: '#/components/schemas/FixedOrderAgents'
        holdAudioInterruptionMode:
          type: string
          description: Connecting audio interruption mode
          enum:
          - Never
          - WhenMusicEnds
          - Periodically
        holdAudioInterruptionPeriod:
          type: integer
          format: int32
          description: Connecting audio interruption message period in seconds
        holdTimeExpirationAction:
          type: string
          description: 'Specifies the type of action to be taken after the hold time

            (waiting for an available call queue member) expires. If ''TransferToExtension''

            option is selected, the extension specified in `transfer` field is used.

            The default value is `Voicemail`

            '
          default: Voicemail
          enum:
          - TransferToExtension
          - UnconditionalForwarding
          - Voicemail
        agentTimeout:
          type: integer
          format: int32
          description: Maximum time in seconds to wait for a call queue member before trying the next member
        wrapUpTime:
          type: integer
          format: int32
          default: 15
          minimum: 0
          maximum: 300
          description: 'Minimum post-call wrap up time in seconds before agent status

            is automatically set; the value range is from 0 to 300 sec.

            '
        holdTime:
          type: integer
          format: int32
          description: Maximum hold time in seconds to wait for an available call queue member
        maxCallers:
          type: integer
          format: int32
          maximum: 25
          description: Maximum count of callers on hold; the limitation is 25 callers
        maxCallersAction:
          type: string
          description: Specifies the type of action to be taken if count of callers on hold exceeds the supported maximum
          enum:
          - Voicemail
          - Announcement
          - TransferToExtension
          - UnconditionalForwarding
        unconditionalForwarding:
          type: array
          items:
            $ref: '#/components/schemas/UnconditionalForwardingInfo'
      description: 'Queue settings applied for department (call queue) extension type,

        with the ''AgentQueue'' value specified as a call handling action

        '
    RecipientInfo:
      type: object
      description: Recipient data
      properties:
        uri:
          type: string
          format: uri
          description: Link to a voicemail recipient extension resource
        id:
          description: Internal identifier of a voicemail recipient
          type: string
    ForwardAllCallsReason:
      type: object
      properties:
        code:
          type: string
          enum:
          - ExtensionLimitation
          - FeatureLimitation
          description: 'Specifies the type of limitation. `ExtensionLimitation` means that the feature is turned off for this particular extension.

            `FeatureLimitation` means that the user may enable this feature and setup the rule via the Service Web UI

            '
        message:
          type: string
          description: Error message depending on the type of limitation
    CompanyAnsweringRuleInfo:
      type: object
      properties:
        id:
          type: string
          description: Internal identifier of an answering rule
        uri:
          type: string
          format: uri
          description: Canonical URI of an answering rule
        enabled:
          type: boolean
          description: Specifies if the rule is active or inactive
          default: true
        type:
          type: string
          description: Type of an answering rule
          default: Custom
          enum:
          - BusinessHours
          - AfterHours
          - Custom
        name:
          type: string
          description: Name of an answering rule specified by user. Max number of symbols is 30. The default value is 'My Rule N' where 'N' is the first free number
        callers:
          type: array
          description: Answering rule will be applied when calls are received from the specified caller(s)
          items:
            $ref: '#/components/schemas/CompanyAnsweringRuleCallersInfoRequest'
        calledNumbers:
          type: array
          description: Answering rule will be applied when calling the specified number(s)
          items:
            $ref: '#/components/schemas/CompanyAnsweringRuleCalledNumberInfoRequest'
        schedule:
          $ref: '#/components/schemas/CompanyAnsweringRuleScheduleInfo'
        callHandlingAction:
          type: string
          description: Specifies how incoming calls are forwarded. The default value is 'Operator' 'Operator' - play company greeting and forward to operator extension 'Disconnect' - play company greeting and disconnect 'Bypass' - bypass greeting to go to selected extension = ['Operator', 'Disconnect', 'Bypass']
          enum:
          - Operator
          - Disconnect
          - Bypass
        extension:
          $ref: '#/components/schemas/CompanyAnsweringRuleExtensionInfoRequest'
        greetings:
          type: array
          description: Greetings applied for an answering rule; only predefined greetings can be applied, see Dictionary Greeting List
          items:
            $ref: '#/components/schemas/GreetingInfo'
    FixedOrderAgentsExtensionInfo:
      type: object
      properties:
        id:
          type: string
          description: Internal identifier of an extension
        uri:
          type: string
          format: uri
          description: Canonical URI of an extension
        extensionNumber:
          type: string
          description: Number of extension
        name:
          type: string
          description: Name of agent extension
    MissedCallExtensionInfoExternalNumber:
      type: object
      description: Specifies an external PSTN number which should be used for the missed call transfer. Returned only if the actionType is set to `ConnectToExternalNumber`
      properties:
        phoneNumber:
          type: string
          description: 'Phone number to which the call is forwarded. In addition to common [E.164](https://www.itu.int/rec/T-REC-E.164-201011-I) format, the following number patterns are supported: 11xxxxxxxxxxx, 444xxxxxxxxxxx, 616xxxxxxxxxxx, 1700yyyy; where `xxxxxxxxxxx` is a phone number in e.164 format (without ''+'' sign) and `yyyy` is an external short extension number. Maximum number of digits is 15'
    TransferExtensionInfo:
      allOf:
      - $ref: '#/components/schemas/TransferredExtension'
      - type: object
        properties:
          name:
            type: string
            description: Extension name
          extensionNumber:
            type: string
            description: Extension number
    UpdateAnsweringRuleRequest:
      type: object
      properties:
        id:
          type: string
          description: Identifier of an answering rule
        forwarding:
          $ref: '#/components/schemas/ForwardingInfoCreateRuleRequest'
        enabled:
          type: boolean
          description: Specifies if the rule is active or inactive. The default value is `true`
        name:
          type: string
          description: Name of an answering rule specified by user
        callers:
          type: array
          description: Answering rule will be applied when calls are received from the specified caller(s)
          items:
            $ref: '#/components/schemas/CallersInfoRequest'
        calledNumbers:
          type: array
          description: Answering rules are applied when calling to selected number(s)
          items:
            $ref: '#/components/schemas/CalledNumberInfo'
        schedule:
          $ref: '#/components/schemas/ScheduleInfo'
        callHandlingAction:
          type: string
          description: Specifies how incoming calls are forwarded
          enum:
          - ForwardCalls
          - UnconditionalForwarding
          - AgentQueue
          - TransferToExtension
          - TakeMessagesOnly
          - PlayAnnouncementOnly
          - SharedLines
        type:
          type: string
          description: Type of an answering rule
          enum:
          - BusinessHours
          - AfterHours
          - Custom
        unconditionalForwarding:
          $ref: '#/components/schemas/UnconditionalForwardingInfo'
        queue:
          $ref: '#/components/schemas/QueueInfo'
        voicemail:
          $ref: '#/components/schemas/VoicemailInfo'
        missedCall:
          $ref: '#/components/schemas/MissedCallInfo'
        greetings:
          type: array
          description: 'Greetings applied for an answering rule; only predefined greetings

            can be applied, see Dictionary Greeting List

            '
          items:
            $ref: '#/components/schemas/GreetingInfo'
        screening:
          type: string
          description: 'Call screening status. ''Off'' - no call screening; ''NoCallerId''

            - if caller ID is missing, then callers are asked to say their name before

            connecting; ''UnknownCallerId'' - if caller ID is not in contact list, then

            callers are asked to say their name before connecting; ''Always'' - the

            callers are always asked to say their name before connecting. The default

            value is ''Off''

            '
          enum:
          - 'Off'
          - NoCallerId
          - UnknownCallerId
          - Always
          default: 'Off'
        showInactiveNumbers:
          type: boolean
          description: Indicates whether inactive numbers should be returned or not
        transfer:
          $ref: '#/components/schemas/TransferredExtensionInfo'
    CreateAnsweringRuleRequest:
      required:
      - name
      - type
      type: object
      properties:
        enabled:
          type: boolean
          description: 'Specifies if the rule is active or inactive. The default value

            is `true`

            '
        type:
          type: string
          description: Type of an answering rule. The 'Custom' value should be specified
        name:
          type: string
          description: Name of an answering rule specified by user
        callers:
          type: array
          description: Answering rule will be applied when calls are received from the specified caller(s)
          items:
            $ref: '#/components/schemas/CallersInfoRequest'
        calledNumbers:
          type: array
          description: Answering rules are applied when calling to selected number(s)
          items:
            $ref: '#/components/schemas/CalledNumberInfo'
        schedule:
          $ref: '#/components/schemas/ScheduleInfo'
        callHandlingAction:
          type: string
          description: Specifies how incoming calls are forwarded
          enum:
          - ForwardCalls
          - UnconditionalForwarding
          - AgentQueue
          - TransferToExtension
          - TakeMessagesOnly
          - PlayAnnouncementOnly
          - SharedLines
        forwarding:
          $ref: '#/components/schemas/ForwardingInfo'
        unconditionalForwarding:
          $ref: '#/components/schemas/UnconditionalForwardingInfo'
        queue:
          $ref: '#/components/schemas/QueueInfo'
        transfer:
          $ref: '#/components/schemas/TransferredExtensionInfo'
        voicemail:
          $ref: '#/components/schemas/VoicemailInfo'
        missedCall:
          $ref: '#/components/schemas/MissedCallInfo'
        greetings:
          type: array
          description: 'Greetings applied for an answering rule; only predefined greetings

            can be applied, see Dictionary Greeting List

            '
          items:
            $ref: '#/components/schemas/GreetingInfo'
        screening:
          type: string
          description: 'Call screening status. ''Off'' - no call screening; ''NoCallerId''

            - if caller ID is missing, then callers are asked to say their name before

            connecting; ''UnknownCallerId'' - if caller ID is not in contact list, then

            callers are asked to say their name before connecting; ''Always'' - the

            callers are always asked to say their name before connecting. The default

            value is ''Off''

            '
          enum:
          - 'Off'
          - NoCallerId
          - UnknownCallerId
          - Always
          default: 'Off'
    CompanyAnsweringRuleCalledNumberInfo:
      type: object
      properties:
        id:
          type: string
          description: Internal identifier of an account phone number
        phoneNumber:
          type: string
          description: Phone number of a callee
    CustomGreetingInfoRequest:
      type: object
      properties:
        id:
          type: string
          description: Internal identifier of a custom user greeting
    GreetingInfo:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/GreetingTypeEnum'
        preset:
          $ref: '#/components/schemas/PresetInfo'
        custom:
          $ref: '#/components/schemas/CustomGreetingInfoRequest'
    CompanyAnsweringRuleWeeklyScheduleInfoRequest:
      type: object
      properties:
        monday:
          type: array
          description: Time interval for a particular day
          items:
            $ref: '#/components/schemas/CompanyAnsweringRuleTimeIntervalRequest'
        tuesday:
          type: array
          description: Time interval for a particular day
          items:
            $ref: '#/components/schemas/CompanyAnsweringRuleTimeIntervalRequest'
        wednesday:
          type: array
          description: Time interval for a particular day
          items:
            $ref: '#/components/schemas/CompanyAnsweringRuleTimeIntervalRequest'
        thursday:
          type: array
          description: Time interval for a particular day
          items:
            $ref: '#/components/schemas/CompanyAnsweringRuleTimeIntervalRequest'
        friday:
          type: array
          description: Time interval for a particular day
          items:
            $ref: '#/components/schemas/CompanyAnsweringRuleTimeIntervalRequest'
        saturday:
          type: array
          description: Time interval for a particular day
          items:
            $ref: '#/components/schemas/CompanyAnsweringRuleTimeIntervalRequest'
        sunday:
          type: array
          description: Time interval for a particular day
          items:
            $ref: '#/components/schemas/CompanyAnsweringRuleTimeIntervalRequest'
      description: Weekly schedule. If specified, ranges cannot be specified
    CompanyAnsweringRuleTimeIntervalRequest:
      type: object
      properties:
        from:
          type: string
          description: Time in format hh:mm
        to:
          type: string
          description: Time in format hh:mm
    UserAnsweringRuleList:
      type: object
      properties:
        uri:
          type: string
          format: uri
          description: Canonical URI of an answering rule list resource
          example: https://platform.ringcentral.com/restapi/v1.0/account/240913004/extension/240972004/answering-rule?page=1&perPage=100
        records:
          type: array
          description: List of answering rules
          items:
            $ref: '#/components/schemas/AnsweringRuleInfo'
        paging:
          $ref: '#/components/schemas/EnumeratedPagingModel'
        navigation:
          $ref: '#/components/schemas/PageNavigationModel'
    ForwardingInfoCreateRuleRequest:
      type: object
      properties:
        notifyMySoftPhones:
          type: boolean
          description: Specifies if the first ring on desktop/mobile apps is enabled. The default value is `true`
        notifyAdminSoftPhones:
          type: boolean
          description: Deprecated parameter. Specifies if the administrator's softphone (desktop application) is notified before forwarding the incoming call to desk phones and forwarding numbers. The default value is `true`.
          deprecated: true
        softPhonesRingCount:
          type: integer
          format: int32
          description: Specifies delay between ring on apps and starting of a call forwarding. To activate this parameter use the value > 0, and turn off the `softPhonesAlwaysRing` setting. If the value is 1 or 0, the `softPhonesAlwaysRing` setting cannot be turned off
        softPhonesAlwaysRing:
          type: boolean
          description: Specifies that desktop and mobile applications of the user will ring till the end of their forwarding list. If set to `true` then `softPhonesRingCount` is ignored
          default: true
        ringingMode:
          type: string
          description: Specifies the order in which forwarding numbers ring. 'Sequentially' means that forwarding numbers are ringing one at a time, in order of priority. 'Simultaneously' means that forwarding numbers are ringing all at the same time. The default value is 'Sequentially'
          enum:
          - Sequentially
          - Simultaneously
        rules:
          type: array
          description: Information on a call forwarding rule
          items:
            $ref: '#/components/schemas/ForwardingRuleCreateRequest'
        mobileTimeout:
          type: boolean
          description: Deprecated parameter. Specifies if mobile timeout is activated for the rule
          deprecated: true
      description: Forwarding parameters. Returned if 'ForwardCalls' is specified in 'callHandlingAction'. These settings determine the forwarding numbers to which the call will be forwarded
    TransferredExtension:
      type: object
      properties:
        id:
          type: string
          description: Internal identifier of an extension
        uri:
          type: string
          readOnly: true
          description: Canonical URI of an extension resource
      description: Transfer extension settings, set/returned if `callHandlingAction` is specified as `TransferToExtension`
    CustomAnsweringRuleInfo:
      type: object
      properties:
        uri:
          type: string
          format: uri
          description: Canonical URI to an answering rule resource
        id:
          type: string
          description: Internal identifier of an answering rule
        type:
          type: string
          description: Type of an answering rule
          enum:
          - BusinessHours
          - AfterHours
          - Custom
        name:
          type: string
          description: Name of an answering rule specified by user
        enabled:
          type: boolean
          description: Specifies if an answering rule is active or inactive
        schedule:
          $ref: '#/components/schemas/ScheduleInfo'
        calledNumbers:
          type: array
          description: Answering rules are applied when calling to selected number(s)
          items:
            $ref: '#/components/schemas/CalledNumberInfo'
        callers:
          type: array
          description: Answering rules are applied when calls are received from specified caller(s)
          items:
            $ref: '#/components/schemas/CallersInfo'
        callHandlingAction:
          type: string
          description: Specifies how incoming calls are forwarded
          enum:
          - ForwardCalls
          - UnconditionalForwarding
          - AgentQueue
          - TransferToExtension
          - TakeMessagesOnly
          - PlayAnnouncementOnly
          - SharedLines
        forwarding:
          $ref: '#/components/schemas/ForwardingInfo'
        unconditionalForwarding:
          $ref: '#/components/schemas/UnconditionalForwardingInfo'
        queue:
          $ref: '#/components/schemas/QueueInfo'
        transfer:
          $ref: '#/components/schemas/TransferredExtensionInfo'
        voicemail:
          $ref: '#/components/schemas/VoicemailInfo'
        greetings:
          type: array
          description: Greetings applied for an answering rule; only predefined greetings can be applied, see Dictionary Greeting List
          items:
            $ref: '#/components/schemas/GreetingInfo'
        screening:
          type: string
          description: Call screening status. 'Off' - no call screening; 'NoCallerId' - if caller ID is missing, then callers are asked to say their name before connecting; 'UnknownCallerId' - if caller ID is not in contact list, then callers are asked to say their name before connecting; 'Always' - the callers are always asked to say their name before connecting. The default value is 'Off'
          enum:
          - 'Off'
          - NoCallerId
          - UnknownCallerId
          - Always
          default: 'Off'
        sharedLines:
          $ref: '#/components/schemas/SharedLinesInfo'
    CompanyAnsweringRuleScheduleInfo:
      type: object
      properties:
        weeklyRanges:
          $ref: '#/components/schemas/CompanyAnsweringRuleWeeklyScheduleInfoRequest'
        ranges:
          type: array
          description: Specific data ranges. If specified, weeklyRanges cannot be specified
          items:
            $ref: '#/components/schemas/RangesInfo'
        ref:
          type: string
          description: Reference to Business Hours or After Hours schedule = ['BusinessHours', 'AfterHours']
          enum:
          - BusinessHours
          - AfterHours
      description: Schedule when an answering rule should be applied
    CallersInfo:
      type: object
      properties:
        callerId:
          type: string
          description: Phone number of a caller
        name:
          type: string
          description: Contact name of a caller
    ExtensionShortInfoResource:
      type: object
      properties:
        id:
          type: string
          description: Internal identifier of an extension
        name:
          type: string
          description: Extension name
        extensionNumber:
          type: string
          description: Extension number
    ForwardingRuleInfo:
      type: object
      properties:
        index:
          type: integer
          format: int32
          description: Forwarding number (or group) ordinal
        ringCount:
          type: integer
          format: int32
          description: Number of rings for a forwarding number (or group)
        enabled:
          type: boolean
          description: Forwarding number status. Returned only if `showInactiveNumbers` is set to `true`
        forwardingNumbers:
          type: array
          description: Forwarding number (or group) data
          items:
            $ref: '#/components/schemas/CreateAnsweringRuleForwardingNumberInfo'
    PresetInfo:
      type: object
      properties:
        uri:
          type: string
          format: uri
          description: Link to a greeting resource
        id:
          type: string
          description: Internal identifier of a greeting
        name:
          type: string
          description: Name of a greeting
    TransferInfo:
      type: object
      properties:
        extension:
          $ref: '#/components/schemas/TransferExtensionInfo'
        action:
          type: string
          description: Event that initiates transferring to the specified extension
          enum:
          - HoldTimeExpiration
          - MaxCallers
          - NoAnswer
  parameters:
    Page:
      name: page
      in: query
      description: The result set page number (1-indexed) to return
      required: false
      explode: false
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 1000
        default: 1
      example: 1
    PerPage:
      name: perPage
      in: query
      description: 'The number of items per page. If provided value in the request

        is greater than a maximum, the maximum value is applied

        '
      required: false
      explode: false
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 1000
        default: 100
      example: 100
    CallHandlingRuleId:
      name: ruleId
      in: path
      description: Internal identifier of a call handling rule
      required: true
      schema:
        type: string
    AccountId:
      name: accountId
      in: path
      description: 'Internal identifier of the RingCentral account

        (can be set to "~" to indicate that the account associated with current authorization session should be used)

        '
      required: true
      style: simple
      explode: false
      schema:
        type: string
        default: '~'
      example: '~'
    ExtensionId:
      name: extensionId
      in: path
      description: 'Internal identifier of the RingCentral extension/user

        (can be set to "~" to indicate that the extension associated with current authorization session should be used)

        '
      required: true
      style: simple
      explode: false
      schema:
        type: string
        default: '~'
      example: '~'
  responses:
    NotFound:
      description: 'General response with **HTTP 404 "Not found"** status.<br>

        Reasons: the entity with given ID (typically specified in a path parameter), is not found or inaccessible

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorResponseModel'
    ServiceNotAvailable:
      description: 'General response with **HTTP 503 "Service not available"** status.<br>

        Reasons: server cannot process the request because of being overloaded, misconfiguration or other issues.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorResponseModel'
    InternalError:
      description: 'General response with **HTTP 500 "Internal Server Error"** status.<br>

        Reasons: general server-side error.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiErrorResponseModel'
    InvalidRequest:
      description: 'General response with **HTTP 400 "Bad request"** status.<br>

        Reasons: unparsable request, path, query or body parameters are invalid.

        The error description may contain reference to particular parameter(s) which haven''t passed the validation.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ParameterizedErrorResponseModel'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.ringcentral.com/restapi/oauth/authorize
          tokenUrl: https://platform.ringcentral.com/restapi/oauth/token
          refreshUrl: https://platform.ringcentral.com/restapi/oauth/token
          scopes: {}
x-tagGroups:
- name: Voice
  popular: true
  tags:
  - Business Hours
  - Call Blocking
  - Call Control
  - Call Forwarding
  - Call Handling Rules
  - Interaction Rules
  - State-based Rules
  - Call Flip
  - Call Log
  - Call History
  - Call Log Export
  - Call Monitoring Groups
  - Call Queues
  - Call Recordings
  - Call Recording Settings
  - Device SIP Registration
  - Greetings
  - IVR
  - RingOut
  - Verification Calls
- name: SMS and Fax
  popular: true
  tags:
  - Fax
  - Message Exports
  - Message Store
  - Pager Messages
  - SMS
  - High Volume SMS
  - SMS Log Export
  - SMS Templates
  - Voicemail Broadcasting
- name: Social Messaging
  popular: true
  tags:
  - Identities
  - Contents
- name: Team Messaging
  popular: true
  tags:
  - Adaptive Cards
  - Bots
  - Calendar Events
  - Chats
  - Conversations
  - Compliance Exports
  - Contacts
  - Incoming Webhooks
  - Notes
  - Posts
  - Profile
  - Tasks
  - Teams
- name: Video
  popular: true
  tags:
  - Bridge Management
  - Delegation Management
  - Meetings History
  - Meeting Recordings
  - RCM Meetings (Legacy)
  - RCM Webinars (Legacy)
- name: Webinar
  popular: true
  tags:
  - Webinars and Sessions
  - Invitees
  - Historical Webinars
  - Historical Recordings
  - Registration Management
  - Registrants
  - Webinar Analytics
  - Webinar Subscriptions
- name: Analytics
  popular: true
  tags:
  - Business Analytics
- name: Artificial Intelligence
  popular: true
  tags:
  - Insights
  - Audio
  - Text
  - Status
- name: Authentication
  tags:
  - OAuth 2.0 / OpenID Connect
  - Interoperability
- name: Account
  tags:
  - Company
  - Custom Fields
  - Features
  - Licenses
  - Tax Locations
  - Cost Centers
  - Multi-Site
  - Phone Numbers
  - Presence
  - Regional Settings
  - User Permissions
  - User Settings
  - Audit Trail
  - Calling Rates
  - Appearance Customization
  - Account Integrations
- name: Provisioning
  tags:
  - Automatic Location Updates
  - Devices
  - Extensions
  - Paging Only Groups
  - Park Locations
  - Phone Lines
  - SCIM
  - Shared Lines
  - Group Call Pickup
  - Delegated Lines Groups
  - Directed Call Pickup
  - IVR Apps
  - Video Configuration
  - Number Porting
  - SMB
  - Account Federation
  - Integrations
  - Enterprise Portal API
  - Push to Talk Provisioning
  - BYOC
- name: Address Book
  tags:
  - External Contacts
  - Internal Contacts
  - Hybrid Directory Contacts
  - Overlay Contacts
  - External Shared Directory
- name: Roles and Permissions
  tags:
  - Permissions
  - Role Management
  - Site Administration
  - User Groups
- name: Events & Notifications
  tags:
  - Subscriptions
- name: User Integrations
  tags:
  - Token Management
  - Calendar Management
  - Calendar Event Management
  - Calendar Presence Link
  - Cloud Personal Contacts
  - Cloud Shared Contacts
  - Cloud Directory
  - Deprecated Calendar API
- name: Rooms
  tags:
  - Rooms Client API
  - Rooms Management API
- name: App Management
  tags:
  - App Gallery
  - App Rating Review
  - Bot Provisioning
- name: Workflow Builder
  tags:
  - Flows
  - Flow Editor
  - Flow Log
  - Flow Templates
- name: Utilities
  tags:
  - API Info
  - Application Settings
  - Async Tasks
  - User Notifications
  - Client Versions
  - End-to-End Encryption
