openapi: 3.0.3
info:
  title: RingCentral Adaptive Cards Site Administration API
  description: RingCentral API specification
  version: 1.0.58-20240529-47eda8bd
  contact:
    name: RingCentral Developers Support
    url: https://developers.ringcentral.com/support
  termsOfService: https://www.ringcentral.com/legal/apilitos.html
  license:
    name: RingCentral API License Agreement
    url: https://www.ringcentral.com/legal/apilitos.html
servers:
- url: https://platform.ringcentral.com
  description: Production API entry point
- url: https://media.ringcentral.com
  description: Production Media entry point
- url: https://platform.devtest.ringcentral.com
  description: Developer sandbox API entry point
- url: https://platform.devtest.ringcentral.com
  description: Developer sandbox Media entry point
security:
- OAuth2: []
tags:
- name: Site Administration
paths:
  /restapi/v1.0/account/{accountId}/extension/{extensionId}/administered-sites:
    get:
      tags:
      - Site Administration
      summary: List User Administered Sites
      description: Returns a list of sites administered by the current user.
      operationId: listAdministeredSites
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ExtensionId'
      responses:
        '200':
          description: List of user administered sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessSiteCollectionResource'
      x-feature: ReadExtensions
      x-availability: High
      x-throttling-group: Medium
      x-app-permission: ReadAccounts
      x-user-permission: ReadExtensions
    put:
      tags:
      - Site Administration
      summary: Update User Administered Sites
      operationId: updateUserAdministeredSites
      description: 'Updates the sites administered by the current user.

        Please note: Only IDs of records are used for update.

        '
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ExtensionId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessSiteCollectionRequest'
        required: true
      responses:
        '200':
          description: Updated list of user administered sites
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessSiteCollectionResource'
      x-feature: EditAssignedRoles
      x-availability: Limited
      x-throttling-group: Medium
      x-app-permission: EditAccounts
      x-user-permission: EditAssignedRoles
components:
  schemas:
    ContactAddressInfoResource:
      type: object
      properties:
        street:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
    RolesRegionalSettingsResource:
      type: object
      properties:
        timezone:
          $ref: '#/components/schemas/RolesTimezoneResource'
        homeCountry:
          $ref: '#/components/schemas/RolesCountryResource'
        language:
          $ref: '#/components/schemas/RolesLanguageResource'
        greetingLanguage:
          $ref: '#/components/schemas/RolesLanguageResource'
        formattingLocale:
          $ref: '#/components/schemas/RolesLanguageResource'
        timeFormat:
          type: string
          enum:
          - 12h
          - 24h
        currency:
          $ref: '#/components/schemas/CurrencyResource'
    RolesLanguageResource:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        localeCode:
          type: string
    CurrencyResource:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        name:
          type: string
        symbol:
          type: string
        minorSymbol:
          type: string
    RolesTimezoneResource:
      type: object
      properties:
        uri:
          type: string
          format: uri
        id:
          type: string
        name:
          type: string
        description:
          type: string
        bias:
          type: string
    BusinessSiteCollectionRequest:
      type: object
      properties:
        records:
          type: array
          items:
            $ref: '#/components/schemas/RolesBusinessSiteResource'
    RolesBusinessSiteResource:
      type: object
      required:
      - id
      properties:
        uri:
          type: string
          description: Link to a business site resource
        id:
          type: string
        email:
          type: string
          format: email
        code:
          type: string
        name:
          type: string
        extensionNumber:
          type: string
        callerIdName:
          type: string
        operator:
          $ref: '#/components/schemas/BasicExtensionInfoResource'
        regionalSettings:
          $ref: '#/components/schemas/RolesRegionalSettingsResource'
        businessAddress:
          $ref: '#/components/schemas/ContactAddressInfoResource'
    RolesCountryResource:
      type: object
      properties:
        uri:
          type: string
          format: uri
        id:
          type: string
        name:
          type: string
        isoCode:
          type: string
        callingCode:
          type: string
        emergencyCalling:
          type: boolean
        numberSelling:
          type: boolean
        loginAllowed:
          type: boolean
        freeSoftphoneLine:
          type: boolean
        signupAllowed:
          type: boolean
    BusinessSiteCollectionResource:
      type: object
      properties:
        uri:
          type: string
          format: uri
        records:
          type: array
          items:
            $ref: '#/components/schemas/RolesBusinessSiteResource'
    BasicExtensionInfoResource:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        extensionNumber:
          type: string
  parameters:
    ExtensionId:
      name: extensionId
      in: path
      description: 'Internal identifier of the RingCentral extension/user

        (can be set to "~" to indicate that the extension associated with current authorization session should be used)

        '
      required: true
      style: simple
      explode: false
      schema:
        type: string
        default: '~'
      example: '~'
    AccountId:
      name: accountId
      in: path
      description: 'Internal identifier of the RingCentral account

        (can be set to "~" to indicate that the account associated with current authorization session should be used)

        '
      required: true
      style: simple
      explode: false
      schema:
        type: string
        default: '~'
      example: '~'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://platform.ringcentral.com/restapi/oauth/authorize
          tokenUrl: https://platform.ringcentral.com/restapi/oauth/token
          refreshUrl: https://platform.ringcentral.com/restapi/oauth/token
          scopes: {}
x-tagGroups:
- name: Voice
  popular: true
  tags:
  - Business Hours
  - Call Blocking
  - Call Control
  - Call Forwarding
  - Call Handling Rules
  - Interaction Rules
  - State-based Rules
  - Call Flip
  - Call Log
  - Call History
  - Call Log Export
  - Call Monitoring Groups
  - Call Queues
  - Call Recordings
  - Call Recording Settings
  - Device SIP Registration
  - Greetings
  - IVR
  - RingOut
  - Verification Calls
- name: SMS and Fax
  popular: true
  tags:
  - Fax
  - Message Exports
  - Message Store
  - Pager Messages
  - SMS
  - High Volume SMS
  - SMS Log Export
  - SMS Templates
  - Voicemail Broadcasting
- name: Social Messaging
  popular: true
  tags:
  - Identities
  - Contents
- name: Team Messaging
  popular: true
  tags:
  - Adaptive Cards
  - Bots
  - Calendar Events
  - Chats
  - Conversations
  - Compliance Exports
  - Contacts
  - Incoming Webhooks
  - Notes
  - Posts
  - Profile
  - Tasks
  - Teams
- name: Video
  popular: true
  tags:
  - Bridge Management
  - Delegation Management
  - Meetings History
  - Meeting Recordings
  - RCM Meetings (Legacy)
  - RCM Webinars (Legacy)
- name: Webinar
  popular: true
  tags:
  - Webinars and Sessions
  - Invitees
  - Historical Webinars
  - Historical Recordings
  - Registration Management
  - Registrants
  - Webinar Analytics
  - Webinar Subscriptions
- name: Analytics
  popular: true
  tags:
  - Business Analytics
- name: Artificial Intelligence
  popular: true
  tags:
  - Insights
  - Audio
  - Text
  - Status
- name: Authentication
  tags:
  - OAuth 2.0 / OpenID Connect
  - Interoperability
- name: Account
  tags:
  - Company
  - Custom Fields
  - Features
  - Licenses
  - Tax Locations
  - Cost Centers
  - Multi-Site
  - Phone Numbers
  - Presence
  - Regional Settings
  - User Permissions
  - User Settings
  - Audit Trail
  - Calling Rates
  - Appearance Customization
  - Account Integrations
- name: Provisioning
  tags:
  - Automatic Location Updates
  - Devices
  - Extensions
  - Paging Only Groups
  - Park Locations
  - Phone Lines
  - SCIM
  - Shared Lines
  - Group Call Pickup
  - Delegated Lines Groups
  - Directed Call Pickup
  - IVR Apps
  - Video Configuration
  - Number Porting
  - SMB
  - Account Federation
  - Integrations
  - Enterprise Portal API
  - Push to Talk Provisioning
  - BYOC
- name: Address Book
  tags:
  - External Contacts
  - Internal Contacts
  - Hybrid Directory Contacts
  - Overlay Contacts
  - External Shared Directory
- name: Roles and Permissions
  tags:
  - Permissions
  - Role Management
  - Site Administration
  - User Groups
- name: Events & Notifications
  tags:
  - Subscriptions
- name: User Integrations
  tags:
  - Token Management
  - Calendar Management
  - Calendar Event Management
  - Calendar Presence Link
  - Cloud Personal Contacts
  - Cloud Shared Contacts
  - Cloud Directory
  - Deprecated Calendar API
- name: Rooms
  tags:
  - Rooms Client API
  - Rooms Management API
- name: App Management
  tags:
  - App Gallery
  - App Rating Review
  - Bot Provisioning
- name: Workflow Builder
  tags:
  - Flows
  - Flow Editor
  - Flow Log
  - Flow Templates
- name: Utilities
  tags:
  - API Info
  - Application Settings
  - Async Tasks
  - User Notifications
  - Client Versions
  - End-to-End Encryption
